 

<div class="modall modal-info fadee" data-backdrop="static">
  <div class="modal-dialog nota-credito-modal-lg" style="max-width: 100%;">

    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
      <!-- Modal body  -->
      <div class="modal-body">
        <div *ngIf="this.sucesso">
            <h5 style="position: absolute; margin-top: 10px;">Nota de Crédito gerada com sucesso</h5> 
          <a class="btn btn-app" style="float: right;" (click)="this.configService.imprimirFactura(this.imprimir,'Original')"> <i class="fa fa-print"></i> Imprimir</a>
        </div>

        <div *ngIf="this.factura==null && this.sucesso==false">
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
        <h2 *ngIf="this.factura!=null && this.sucesso==false">Nova Nota de Crédito</h2>
        <h1 style="text-align: center; color: #BDBDBD" *ngIf="this.valida_code == 0"> Carregando dados...</h1>
        <a class="btn btn-app" style="float: right;" (click)="back()"> <i class="fa fa-mail-reply-all"></i> Voltar </a>
        <h1 style="text-align: center; color: #BDBDBD" *ngIf="this.valida_code != 200 && this.valida_code != 0"> {{ this.message }}</h1>
        
      </div>
    </div>
  </div>
</div>

<div class="modall modal-info fadee" data-backdrop="static" *ngIf="this.factura!=null && this.sucesso==false">
  <div class="modal-dialog nota-credito-modal-lg" style="max-width: 100%;">

    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
      <!-- Modal body  -->
      <div class="modal-body" *ngIf="this.factura!=null">


        <div class="row" style="    border-bottom: 1px solid #d6d5d5; padding-bottom: 23px;">

          <div class="col-md-2">
            <label class="col-form-label" for="">Tipo Identificação</label>
            <div class="input-group">
              <input class="form-control" id="numero" type="text"
                value="{{ (this.factura.cliente.contribuente==null || this.factura.cliente.tipoIdentidade==null ? 'Nenhum Tipo de Identificação' : this.factura.cliente.tipoIdentidade.tipoIdentificacao) }}"
                disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-file-archive-o"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="col-form-label" for="">Nº Identificação</label>
            <div class="input-group mb-3">
              <input class="form-control" id="numero" type="text"
                value="{{ (this.factura.cliente.contribuente==null? 'Nenhum nº Identificação' : this.factura.cliente.contribuente) }}"
                disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-sort-numeric-asc"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label class="col-form-label" for="">Nome do Cliente</label>
            <div class="input-group">
              <input class="form-control" id="numero" type="text" value="{{this.factura.cliente.nome}}"
                disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa icon-user"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="col-form-label" for="">Tipo Cliente</label>
            <div class="input-group">
              <input class="form-control" id="numero" type="text"
                value="{{ (this.factura.cliente.tipoCliente==null ? 'Nenhum Tipo de Cliente' : this.factura.cliente.tipoCliente.tipoClienteDesc) }}"
                disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-file-archive-o"></i></span>
              </div>
            </div>
          </div>




          <div class="col-md-2">
            <label class="col-form-label" for="">Telefone</label>
            <div class="input-group">
              <input class="form-control" id="numero" type="text" value="{{this.factura.cliente.telefone}}"
                disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-phone"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-form-label" for="">Morada Principal</label>
            <div class="input-group">
              <textarea class="form-control" placeholder="Morada Principal do cliente"
                disabled>{{this.factura.cliente.morada}}</textarea>
            </div>
          </div>

          <div class="col-md-6">
            <label class="col-form-label" for="">Email</label>
            <div class="input-group">
              <textarea class="form-control" placeholder="Email Principal do cliente"
                disabled>{{this.factura.cliente.email}}</textarea>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-2">
            <label class="col-form-label" for="">Facturaçao</label>
            <div class="input-group mb-3">
              <input class="form-control" type="text" value="{{ this.factura.factura.facturacao }}"
                disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-file-archive-o"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="col-form-label" for="">Referente a Factura nº</label>
            <div class="input-group mb-3">
              <input class="form-control" type="text" value="{{this.factura.factura.factura_sigla}}"
                disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-sort-numeric-asc"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="col-form-label" for="">Data</label>
            <div class="input-group mb-3">
              <input class="form-control" type="text"
                value="{{this.factura.factura.status_date | date: 'dd-MM-yyyy'}}" disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="col-form-label" for="">Total</label>
            <div class="input-group mb-3">
              <input class="form-control" type="text"
                value="{{ configService.numberFormat(this.factura.factura.total)}}" disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calculator"></i></span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="col-form-label" for="">Valor Em Aberto</label>
            <div class="input-group mb-3">
              <input class="form-control" type="text"
                value="{{ configService.numberFormat(this.factura.factura.valor_aberto)}}" disabled />
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calculator"></i></span>
              </div>
            </div>
          </div>



          <div class="col-md-2">
            <label class="col-form-label" for="">Serie *</label>
            <div class="input-group mb-3">
              <select class="form-control" name="serie" [(ngModel)]="this.serie">
                <option [value]="null" selected>Selecionar serie - documento</option>
                <option value="{{ serie.id }}" *ngFor="let serie of series"> Serie: {{ serie.nome }} -
                  {{ serie.documento }} </option>
              </select>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-book"></i></span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>



<div class="modall modal-info fadee" data-backdrop="static" *ngIf="this.factura!=null && this.sucesso==false">
  <div class="modal-dialog nota-credito-modal-lg" style="max-width: 100%;">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"> Itens da Factura</h4>
      </div>
      <!-- Modal body  -->
      <div class="modal-body"> 
        <ngx-loading [show]="loading"></ngx-loading>
        <div class="row">
          <div class="col-md-12">
            <div class="card-body table-responsivee p-0" style="margin-bottom: 15px;">
              <table class="table table-hover table-bordered table-striped text-center">
                <thead>
                  <tr style="background: #1a9baf; color: #fff;">
                    <th style="width: 26px;"><i class="fa fa-check"></i></th>
                    <th width="100">#</th>
                    <th width="100">Cod.Produto</th>
                    <th width="80">Tipo</th>
                    <th width="96">ID serviço</th>
                    <th width="360">Descrição</th>
                    <th width="100">Qtd Nova</th>
                    <!--<th width="100">Qtd Original</th>-->
                    <th width="137">Preço</th>
                    <th width="137">Desc%.</th>
                    <th width="137">Desc</th>
                    <th width="137">Taxa Imposto</th>
                    <th width="137">Cod Imposto</th>
                    <th width="137">V. Imposto</th>
                    <th width="130">Total s/IVA</th>
                    <th width="130">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let line of  this.factura.produtos; index as i">
                    <td> <input type="checkbox" name="d" (click)="setLineCheckbox(line)"></td>
                    <td>{{i+1}}</td>
                    <td> {{ line.produto_id }} </td>
                    <td>
                      <span class="badge bg-danger" *ngIf="line.produto.tipo =='S'">{{line.produto.tipo}} - Servico</span>
                      <span class="badge bg-primary" *ngIf="line.produto.tipo =='A'">{{line.produto.tipo}} - Artigo</span>
                    </td>
                    <td>{{ (line.servico_id== null?"---":line.servico_id)}}</td>
                    <td>{{ line.produto.nome }}</td> 
                    <td>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control" value="{{ line.quantidade }}" disabled>
                        <span class="input-group-append">
                          <button type="button" class="btn btn-info btn-flat" data-toggle="modal"
                            data-target="#myNCModal" (click)="setProduto(line)"><i
                              class="fa icon-note"></i></button>
                        </span>
                      </div>
                    </td>
                    <!--<td>{{ line.qtd_fixo }} </td>-->
                    <td>{{ configService.numberFormat(line.valor) }}</td>
                    <td>
                      {{ line.valor_desconto == 0 ? '0,00' : configService.numberFormat(((line.valor/line.valor_desconto)/100)) }}
                    </td>
                    <td>
                      {{ line.valor_desconto == 0 ? '0,00' :  configService.numberFormat((line.valor/line.valor_desconto)) }}
                    </td>
                    <td>{{ configService.numberFormat(line.imposto.valor)}}</td>
                    <td>{{ (line.imposto.codigo)}}</td>
                    <td>{{ configService.numberFormat(line.valorImposto) }}</td>
                    <td>{{ configService.numberFormat(line.linhaTotalSemImposto) }}</td>
                    <td>{{ configService.numberFormat(line.total) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="col-md-10">
            <div class="col-md-7">
              <label class="col-form-label" for="">Escrever Observação</label>
              <div class="input-group">
                <textarea name="observacao" [(ngModel)]="this.observacao" class="form-control"
                  placeholder="Escreve uma observação sobre a nota de crédito"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="row">

              <div class="col-md-12">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Total s/IVA</label>
                  <div class="col-sm-9">
                    <input class="form-control text-right" style="font-weight: bold" type="text"
                      value="{{ configService.numberFormat(this.totalSemImposto)}}" disabled />
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Total c/IVA</label>
                  <div class="col-sm-9">
                    <input class="form-control text-right" style="font-weight: bold" type="text"
                      value="{{ configService.numberFormat(this.total)}}" disabled />
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger btn-sm " type="reset">Cancelar</button>
        <button class="btn btn-success mr-1 btn-sm" type="submit" (click)="finalizarNotaCredito()">Finalizar
          Nota de Crédito</button>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-info fade in" id="myNCModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Alterar Nova Quantidade</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label><i class="fa fa-sort-numeric-asc"></i> Quantidade</label>
              <input type="number" class="form-control" placeholder="Quantidade" maxlength="3"
                [(ngModel)]="this.item.quantidade">
            </div>
          </div>

        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal"
          (click)="getCalcularLine()">Adicionar</button>
      </div>

    </div>
  </div>
</div>