<div  class="modal fade" id="registarAutoModal" tabindex="-1" role="dialog" aria-labelledby="create-contruction-modal" aria-hidden="true">
  <div class="modal-dialog " style="max-width: 50%;">
    <div class="modal-content">

      <!-- Modal Header --> 
      <div class="modal-header">
        <h5 class="modal-title" id="create-equipment"> <i class="icon-plus"></i> Dados Autos de Medição</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
 
        <div class="modal-body">

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Projecto</label>
                <select class="form-control"   name="">
                  <option selected disabled [value]="null">Projectos</option> 
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Obra</label>
                <select class="form-control"   name="">
                  <option selected disabled [value]="null">Obras</option> 
                </select>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Valor da Proposta</label>
                <input type="text" disabled name="badget" value="87.334,87"  class="form-control" placeholder="Proximo Número">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Valor do Contrato</label>
                <input type="text" disabled name="badget" value="87.334,87"   class="form-control" placeholder="Proximo Número">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Data Licitação</label>
                <input type="date" name="startDate"  class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Data de Adjudicação da obra</label>
                <input type="date" name="startDate"  class="form-control">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Data de início dos trabalhos</label>
                <input type="date" name="startDate"  class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Data conclução dos trabalhos</label>
                <input type="date" name="startDate"  class="form-control">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Observação</label>
                <textarea class="form-control" rows="2" name="designation"  
                  placeholder="Breve descrição sobre o auto de medicção"></textarea>
              </div>
            </div>
             
 
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit"  class="btn btn-primary btn-smm">
            <i class="fa fa-save"></i>
            Registar
          </button>
        </div> 

    </div>
  </div>
</div>
