<div id="row">
  <div class="container-fluid">
    <div class="col-lg-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{ project?.designation }} - <a
                  [routerLink]="'/crm/clientes/' + project?.client?.id">{{ project?.client?.name }}</a> </h4>

              <h4 class="modal-title">
                <span [class]="'badge ' + chooseBadgeColor(project?.status)">
                  {{ chooseBadgeLabel(project?.status) }}
                </span>
              </h4>

            </div>
            <div class="modal-body">
              <p>{{ project?.description }} </p>
              <ul class="list-unstyled">
                <li>
                  <b>Orçamento do estimado: {{ formatCurrency(project?.badget) }}</b>
                </li>
                <li>
                  <b>Orçamento do executado: {{ formatCurrency(0) }}</b>
                </li>
                <li>
                  <b> {{ isAValidRange(project?.startDate) ? 'Começou' : 'Começa' }} em: {{
                    formatDate(project?.startDate) }}</b>
                </li>
                <li [class]="projectIsSkidding(project?.endDate, project?.status) ? 'text-danger': ''">
                  <b> {{ isAValidRange(project?.endDate) ? 'Terminou' : 'Termina' }} em: {{
                    formatDate(project?.endDate) }}</b>

                  <b *ngIf="projectIsSkidding(project?.endDate, project?.status)"> ( {{
                    howManyDaysLate(project?.endDate) }} dias em atraso )</b>
                </li>
              </ul>
            </div>

            <div class="modal-footer">
              <div class="row" style="width: 100%;">
                <div class="col-sm-12 col-md-12">
                  <div class="pull-right">
                    <a type="button" class="text-white btn btn-secondary btn-flat">
                      <i class="fa fa-pencil"></i> Editar o projecto </a>

                    <a type="button" data-toggle="modal" data-target="#create-contruction-modal" class="text-white btn btn-primary btn-flat">
                      <i class="fa fa-plus"></i> Adicionar nova obra </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- render gantt in project -->
    <div class="col-lg-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <!-- Modal Header -->
            <div class="modal-header">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-gantt-tab" data-toggle="pill" href="#pills-gantt" role="tab"
                    aria-controls="pills-gantt" aria-selected="false">Gantt</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " id="pills-constructions-tab" data-toggle="pill" href="#pills-constructions"
                    role="tab" aria-controls="pills-constructions" aria-selected="true">Obras</a>
                </li>
              </ul>
            </div>
            <div class="modal-body">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-gantt" role="tabpanel"
                  aria-labelledby="pills-gantt-tab">
                  <app-gantt-project></app-gantt-project>
                </div>
                <div class="tab-pane fade" id="pills-constructions" role="tabpanel"
                  aria-labelledby="pills-constructions-tab">
                  <app-project-contructions></app-project-contructions>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-create-construction [project]="project"></app-create-construction>
