<div class="modal fade" id="create-frota-modal" tabindex="-1" role="dialog" aria-labelledby="create-frota-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar veículo</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="brand">Marca</label>
              <ng-multiselect-dropdown placeholder="Selecionar marca " [data]="brands" [(ngModel)]="fleet.brand"
                [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>

            <div class="form-group col-md-6">
              <label for="brand">Modelo</label>
              <ng-multiselect-dropdown placeholder="Selecionar modelo" [disabled]="!this.fleet.brand.length"
                [data]="models" [(ngModel)]="fleet.model" [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="brand">Tipo</label>
              <ng-multiselect-dropdown placeholder="Selecionar tipo " [disabled]="!this.fleet.model.length"
                [data]="types" [(ngModel)]="fleet.type" [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
            <div class="form-group col-md-4">
              <label for="brand">Matrícula</label>
              <input class="form-control rounded" type="text" placeholder="LD-xxx-xxx" [(ngModel)]="fleet.licensePlate"
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group col-md-4">
              <label for="brand">Ano de fabrico</label>
              <input class="form-control rounded" type="text" placeholder="20XX" maxlength="4" [(ngModel)]="fleet.yearManufacture"
                [ngModelOptions]="{standalone: true}" />
            </div>
          </div>
          <hr />

          <div class="filter">
            <div class="col-md-12 mb-3">
              <label>
                <input type="checkbox" (change)="alterProjectType()" [value]="projectType">
                Alocar a um projecto?
              </label>
            </div>

            <div class="col-md-12 mb-3">
              <label>Projecto</label>
              <ng-multiselect-dropdown [disabled]="projectType !== 'external'" [placeholder]="placeholder"
                [data]="projects" [(ngModel)]="fleet.project" [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSX">
                <thead>
                  <tr style="color: #fff; background: #17a2b8;">
                    <th>#</th>
                    <th>Local</th>
                    <th>Bairro</th>
                    <th>Municipio</th>
                    <th>Província</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!offices.length">
                    <td colspan="7"> Selecione primeiro o projecto </td>
                  </tr>
                  <tr *ngFor="let office of offices; index as i">
                    <td>
                      <input type="checkbox" [checked]="fleet.construction === office.id"
                        (change)="selectedOffice(office.id)" [value]="office.id">
                    </td>
                    <td> {{ office.description }} </td>
                    <td> {{ office.address.street }} </td>
                    <td> {{ office.address.city }} </td>
                    <td> {{ office.address.state }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary"
            (click)="saveVehicle()"
          >Gravar</button>
        </div>
      </form>
    </div>
  </div>
</div>
