<div  class="modal fade" id="encerrarAutoModal" tabindex="-1" role="dialog" aria-labelledby="create-contruction-modal" aria-hidden="true">
  <div class="modal-dialog " style="max-width: 45%;">
    <div class="modal-content">

      <!-- Modal Header --> 
      <div class="modal-header">
        <h5 class="modal-title" id="create-equipment"> <i class="icon-plus"></i> Fecho Autos</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
 
        <div class="modal-body">

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Tipo Auto</label><br>
                <mat-radio-group aria-label="Select an option"  > 
                  <mat-radio-button value="1" > <b>Medição acumulada</b></mat-radio-button><br>
                  <mat-radio-button value="2" > <b>Medição parcial</b></mat-radio-button>
                </mat-radio-group>
              </div>
            </div> 

            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">IVA</label>
                <input type="number" disabled name="badget" value="14"  class="form-control" placeholder="Proximo Número">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Coeficiente de revisão de preços</label>
                <input type="text" disabled name="badget" value="1,00000"   class="form-control" placeholder="Proximo Número">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Data Auto</label>
                <input type="date" name="startDate"  class="form-control">
              </div>
            </div> 
  
 
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit"  class="btn btn-primary btn-smm">
            <i class="fa fa-save"></i>
            Aceitar
          </button>
        </div> 

    </div>
  </div>
</div>
