<div class="modal modal-info fade in" id="modal-relacionar-produtos" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 950px;">
    <div class="modal-content">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormproduto" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"> Relacionar produtos </h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading> 
          <form [formGroup]='simpleFormproduto' (ngSubmit)="register()">
          <div class="row">

            <div class="col-md-5">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tipo">Produto Principal</label>
                <div class="input-group mb-3">  
                <input class="form-control" formControlName="produto_id" type="text" value="{{ produto.nome }}" placeholder="Quantidade de Venda"
                  [ngClass]="{ 'is-invalid': submitted && form.get('produto_id').errors}">

                  <div *ngIf="submitted && f['produto_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['produto_id'].errors.required">O campo produto principal é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tipo">Produto Secundário</label>
                <div class="input-group mb-3">
                  <select formControlName="produto_filho_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.produto_filho_id.errors, 'is-valid': f.produto_filho_id.touched && !f.produto_filho_id.errors }">
                    <option [value]="null">Selecionar produto</option>
                    <option value="Cimento">Cimento</option>
                    <option value="S">Area</option>
                    <option value="S">Bugalho</option>
                  </select>
                  <div *ngIf="submitted && f['produto_filho_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['produto_filho_id'].errors.required">O campo produto Secundário é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>    
            <div class="col-md-2">
              <button type="button" (click)="add()" id="btn-adicionar" class="btn btn-blockk btn-primary" style="margin-top: 37px;">
                <i class="fa fa-plus"> </i> Relacionar
              </button>
            </div>
          </div>
          </form>
        <div class="row">
            <div  class="col-md-12">
              <hr>
              <br>
              <div  class="card card-default">
                <div  class="card-header">
                  <h3  class="card-title">Produtos Relacionados</h3>
                </div>
                <div  class="card-body">
                  <div  style="height:  407px; overflow: auto;">
                    <table  class="table table-hover table-bordered table-striped text-center">
                      <tbody ><tr>
                        <th  width="50">#</th>
                        <th>Produto Principal</th>
                        <th>Produto Secundário</th> 
                        <th  style="width: 16%;">Acção</th>
                      </tr> 
                      <tr  class="ng-star-inserted" *ngFor="let produto of produtos">
                        <td>1</td>
                        <td>{{ produto.principal }}</td>
                        <td>{{ produto.secundario }}</td> 
                        <td>
                          <div  class="btn-group">
                            <button  class="btn btn-outline-info btn-sm" data-target="#modal-edit-prod-relacionado" data-toggle="modal" title="editar" type="button"><i  class="fa fa-edit"></i></button>
                            <button  class="btn btn-outline-danger btn-sm" title="eliminar" type="button"><i  class="fa fa-trash"></i></button>
                          </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
  
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormproduto.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormproduto.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormproduto.pristine || simpleFormproduto.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>