<div class="modall modal-info fadee" data-backdrop="static">
  <div class="modal-dialog" style="max-width: 100%;margin:0">
    <div class="modal-content" style="box-shadow: 0 0 0rem
        rgba(0,0,0,.5);">
      <div class="modal-header">
        <h4 class="modal-title">
          Selecionar tipo de manutenção
        </h4>
      </div>
      <div class="modal-body">
        <div class="filter">
          <div class="col-md-12">
            <label>Manutenção</label>
            <ng-multiselect-dropdown placeholder="Selecione tipo de manutenção" [data]="maintenanceTypes"
              [(ngModel)]="maintenanceType"
              (onSelect)="cleanSelection()"
              [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>

          <hr />

          <div class="col-md-12 mb-3">
            <label>Projecto</label>
            <ng-multiselect-dropdown [disabled]="maintenanceType[0]?.id !== 'external'" [placeholder]="placeholder"
              [data]="projects" [(ngModel)]="selectedProject" [ngModelOptions]="{standalone: true}"
              [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSX">
              <thead>
                <tr style="color: #fff; background: #17a2b8;">
                  <th>#</th>
                  <th>Local</th>
                  <th>Bairro</th>
                  <th>Municipio</th>
                  <th>Província</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!offices.length">
                  <td colspan="7"> Selecione primeiro o projecto </td>
                </tr>
                <tr *ngFor="let office of offices; index as i">
                  <td>
                    <input type="checkbox" [checked]="officeId === office.id" (change)="selectedOffice(office.id)"
                      [value]="office.id">
                  </td>
                  <td> {{ office.description }} </td>
                  <td> {{ office.address.street }} </td>
                  <td> {{ office.address.city }} </td>
                  <td> {{ office.address.state }} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button [disabled]="!officeId" (click)="selectMaintenanceProjectAndOffice()" type="button" class="btn btn-primary">
            Filtrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
