<div class="modall modal-info fadee in" id="{{modal}}" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1150px;">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
      <!-- Modal Header -->
      <form [formGroup]="simpleFormproduto" (submit)="onSubmit();">
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa fa-beer nav-icon"></i> {{ title }}</h4>
          <button class="close" type="reset" (click)="onReset()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <ngx-loading [show]="loading"></ngx-loading> 
          <div class="row">

            <div class="col-md-2">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tipo">Tipo</label>
                <div class="input-group mb-3">
                  <select formControlName="tipo" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.tipo.errors, 'is-valid': f.tipo.touched && !f.tipo.errors }">
                    <option [value]="null">Tipo</option>
                    <option value="A">Artigo</option>
                    <option value="S">Serviço</option>
                  </select>
                  <div *ngIf="submitted && f['tipo'].errors" class="invalid-feedback">
                    <div *ngIf="f['tipo'].errors.required">O campo Tipo é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-group has-warning">
                <label class="col-form-label" for="nome">Nome</label>
                <input class="form-control" required autofocus id="nome" type="text" formControlName="nome"
                  placeholder="Nome" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.nome.errors, 'is-valid': f.nome.touched && !f.nome.errors }" />
                <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                  <div *ngIf="f['nome'].errors.required">O campo Nome é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="valor">Valor</label>
                <input class="form-control" required autofocus id="valor" type="number" formControlName="valor"
                  placeholder="valor" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.valor.errors, 'is-valid': f.valor.touched && !f.valor.errors }" />
                <div *ngIf="submitted && f['valor'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor'].errors.required">O campo valor é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="col-form-label" for="quantidade">Quantidade</label>
                <input class="form-control"  autofocus id="quantidade" type="number" formControlName="quantidade"
                  placeholder="quantidade" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.quantidade.errors, 'is-valid': f.quantidade.touched && !f.quantidade.errors }" />
                <div *ngIf="submitted && f['quantidade'].errors" class="invalid-feedback">
                  <div *ngIf="f['quantidade'].errors.required">O campo quantidade é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="barcode">Barcode</label>
                <input class="form-control"  autofocus id="barcode" type="number" formControlName="barcode"
                  placeholder="barcode" autocomplete="given-name"
                  [ngClass]="{ 'is-invalid': submitted && f.barcode.errors, 'is-valid': f.barcode.touched && !f.barcode.errors }" />
                <div *ngIf="submitted && f['barcode'].errors" class="invalid-feedback">
                  <div *ngIf="f['barcode'].errors.required">O campo barcode é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group has-warning">
                <label class="col-form-label" for="imposto_id">Imposto</label>
                <div class="input-group mb-3">
                  <select formControlName="imposto_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.imposto_id.errors, 'is-valid': f.imposto_id.touched && !f.imposto_id.errors }">
                    <option [value]="null">Imposto</option>
                    <option *ngFor="let i of imponstos" [value]="i.id">
                      {{i.descricao}} - {{i.valor}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['imposto_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['imposto_id'].errors.required">O campo Imposto é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group has-warning">
                <label class="col-form-label" for="moeda_id">Moeda</label>
                <div class="input-group mb-3">
                  <select formControlName="moeda_id" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.moeda_id.errors, 'is-valid': f.moeda_id.touched && !f.moeda_id.errors }">
                    <option [value]="null">Moeda</option>
                    <option *ngFor="let i of configService.moedas" [value]="i.id">
                      {{i.nome}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f['moeda_id'].errors" class="invalid-feedback">
                    <div *ngIf="f['moeda_id'].errors.required">O campo moeda é obrigatório</div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-md-3">
              <div class="form-group has-warning">
                <label class="col-form-label" for="tipo">Executar Trigger?</label>
                <div class="input-group">
                  <select formControlName="is_trigger" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.is_trigger.errors, 'is-valid': f.is_trigger.touched && !f.is_trigger.errors }">
                    <option [value]="null">Selecione o estado</option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                  <div *ngIf="submitted && f['is_trigger'].errors" class="invalid-feedback">
                    <div *ngIf="f['is_trigger'].errors.required">O campo trigger é obrigatório</div>
                  </div>
                </div>
              </div>

              <div class="form-group has-warning">
                <label class="col-form-labell" for="is_active">Estado</label>
                <div class="input-group">
                  <select formControlName="is_active" class="form-control" required autofocus
                    [ngClass]="{ 'is-invalid': submitted && f.is_active.errors, 'is-valid': f.is_active.touched && !f.is_active.errors }">
                    <option [value]="null">Estado</option>
                    <option value="1">Activo?, Sim</option>
                    <option value="0">Activo?, Não</option>
                  </select>
                  <div *ngIf="submitted && f['is_active'].errors" class="invalid-feedback">
                    <div *ngIf="f['is_active'].errors.required">O campo estado é obrigatório</div>
                  </div>
                </div>
              </div>

            </div> 

            <div class="col-md-9">
              <div class="form-group has-warning">
                <label class="col-form-label">Observação</label>
                <textarea formControlName="observacao"  placeholder="Escreve uma observacao" class="form-control"
                  autofocus autocomplete="given-name" style="height: 123px;"
                  [ngClass]="{ 'is-invalid': submitted && f.observacao.errors, 'is-valid': f.observacao.touched && !f.observacao.errors }"></textarea>
                <div *ngIf="submitted && f['observacao'].errors" class="invalid-feedback">
                  <div *ngIf="f['observacao'].errors.required">O campo Observação é obrigatório</div>
                </div>
              </div>
            </div>

          </div>
  
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleFormproduto.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleFormproduto.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleFormproduto.pristine || simpleFormproduto.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>