.sidenav-reporting {
    padding: .2rem;
    height: 100vh;
    width: 100%;
    background-color: #fff;
}

.nav-item>.nav-link{
    color: #c2c7d0!important;
}

.nav-sidebar>.nav-item:hover {
    color: #fff!important;
    background-color: rgba(255,255,255,.1)!important;
}

.nav-icon-report{
    font-size: 20px!important;
    margin-right: 10px!important;
}

.direct-chat-text{
    font-size: 20px!important;
    margin-right: 15px!important;
    padding: 15px!important;
    background: #eaebeb!important;
    border: 1px solid #eaebeb!important;
}

.direct-chat-text.active{
    background: #d2d2d2!important;
    border: 1px solid #d2d2d2!important;
}

.direct-chat-text.active:before {
    border-left-color: #d2d2d2;
}


.direct-chat-text:before {
    border-width: 20px;
    margin-top: -6px;
    border-left-color: #eaebeb;
}
a.report-nav.active{
    color: #fff!important;
    background-color: transparent;
}

a.report-nav{
    margin-bottom: -25px!important;
}

.nav-link.report-nav.active{
    color: #fff!important;
}