<div class="sidenav-reporting row col-4">
  <nav class="mt-2 col-12">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a href="javascript:void(0);" class="nav-link report-nav"> 
              <div class="direct-chat-msg right">
                  <div class="direct-chat-text">
                      <i class="fa fa-line-chart nav-icon-report"></i>
                      Plataforma simples e intuitiva para criação de Dashboards
                  </div>
              </div>
          </a>
        </li>  
        <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link report-nav"> 
            <div class="direct-chat-msg right">
                <div class="direct-chat-text">
                    <i class="fa fa-line-chart nav-icon-report"></i>
                    Métricas Personalizadas
                </div>
            </div>
        </a>
        </li>  
        <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link report-nav"> 
          <div class="direct-chat-msg right">
              <div class="direct-chat-text">
                  <i class="fa fa-line-chart nav-icon-report"></i>
                  Financeiras 
              </div>
          </div>
        </a>
        </li>  

        <li class="nav-item">
          <a href="javascript:void(0);" class="nav-link report-nav"> 
          <div class="direct-chat-msg right">
              <div class="direct-chat-text">
                  <i class="fa fa-line-chart nav-icon-report"></i>
                  Comercial
              </div>
          </div>
          </a>
          </li> <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link report-nav"> 
            <div class="direct-chat-msg right">
                <div class="direct-chat-text">
                    <i class="fa fa-line-chart nav-icon-report"></i>
                    Manutenções
                </div>
            </div>
            </a>
            </li> <li class="nav-item">
              <a href="javascript:void(0);" class="nav-link report-nav"> 
              <div class="direct-chat-msg right">
                  <div class="direct-chat-text">
                      <i class="fa fa-line-chart nav-icon-report"></i>
                      Concursos, Adjudicações
                  </div>
              </div>
              </a>
              </li>   
      </ul>
  </nav>
</div>
 
