<footer class="main-footer2"><strong>Copyright © 2020 <a href="https://ideiasdinamicas.com/" target="__blank">Ideias
      Dinâmicas</a>.</strong> Todos os direitos reservados. <div class="float-right d-none d-sm-inline-block"><b><a
        href="http://unig-erp.com/" target="__blank">UNIG</a> - <a href="http://at.unig-erp.com/"
        target="__blank">AT</a> Versão</b> 1.4.2 (10/12/2020) </div>
</footer>
