<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-navy {{ layoutNavigationTop?'content-wrapper-left': ''}}">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="../../index3.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li>
  </ul>

  <!-- SEARCH FORM -->
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">  
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
        <i class="fas fa-th-large"></i>
      </a>
    </li>

    <li class="nav-item" *ngIf="this.authService.isAuthenticated()"> 
      <a routerLink="/perfil/{{currentUser.id}}/{{ (currentUser.name==undefined?currentUser.nome:currentUser.name).replace(' ','.') | titlecase }}" class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false"><img src="assets/img/avatar.png" class="img-circle elevation-0" alt="User Image" style="margin: 0px 12px 4px;width: 26px;"> <span>{{(currentUser.name==undefined?currentUser.nome:currentUser.name) | titlecase}} </span></a>
    </li>
    <li class="nav-item">
      <a (click)="logout()" class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="fa fa-sign-out" title="Sair"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->