<!-- The Modal -->
<div class="modall modal-info fadee"  data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 900px;">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-calculator nav-icon"></i> Registar Abertura de Caixa</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onReset()">&times;</button>
      </div>
      <form [formGroup]="simpleForm" (submit)="onSubmit();">
        <!-- Modal body -->
        <div class="modal-body">
           
          <ngx-loading [show]="loading"></ngx-loading>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label" for="valor_abertura">Valor de Abertura</label>
                <input class="form-control" id="valor_abertura" type="number" formControlName="valor_abertura" placeholder="Valor de abertura"
                  autocomplete="given-name" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.valor_abertura.errors, 'is-valid': f.valor_abertura.touched && !f.valor_abertura.errors }" />
                <div *ngIf="submitted && f['valor_abertura'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor_abertura'].errors.required">O campo valor abertura é obrigatório</div>
                </div>
              </div>
            </div>  
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleForm.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <!--<button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="simpleForm.valid">Validar</button>-->
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>