<div class="row">
  <!-- project display -->
  <div class="col-lg-12 col-12">
    <div class="modall modal-info fadee" data-backdrop="static">
      <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
        <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{ project?.designation }} - <a
                [routerLink]="'/crm/clientes/' + project?.client?.id">{{ project?.client?.name }}</a> </h4>

          </div>
          <div class="modal-body">
            <p>{{ project?.description }} </p>
          </div>

          <div class="modal-footer">
            <div class="row" style="width: 100%;">
              <div class="col-sm-12 col-md-12">
                <div class="pull-right">
                  <a [routerLink]="'/operacoes/projectos/mostrar-projectos/' + project.id" type="button" class="text-white btn btn-success btn-flat">
                    <i class="fa fa-save"></i> Gravar modificações </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end project display -->

  <!-- stories and spaces -->
  <div class="col-md-4 col-4">
    <div class="col-md-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Fases do projecto</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <select class="form-control" [(ngModel)]="selectedStage" name="cliente_id">
                  <option selected disabled [value]="null">Selecione uma fase</option>
                  <option [value]="budget.id" *ngFor="let budget of budgets">
                    {{ budget.name }}
                  </option>
                </select>
              </div>

              <ul class="list-unstyled">
                <li>
                  <b> Tarefas na fase: {{ budgets.length }} </b>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"> Tarefas nesta fase</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <select class="form-control" [disabled]="!selectedStage" [(ngModel)]="selectedTask" name="cliente_id">
                  <option selected disabled [value]="null">Selecione uma tarefa</option>
                  <option [value]="space.id" *ngFor="let space of spaces">
                    {{ space.name }}
                  </option>
                </select>
              </div>

              <ul class="list-unstyled">
                <li>
                  <b> Area: {{ formatNumber(space?.area) + 'm²' }} </b>
                </li>
                <li><b> Altura: {{ formatNumber(space?.height) + 'm' }} </b></li>
                <li><b> Largura: {{ formatNumber(space?.width ) + 'm' }} </b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end stories and spaces -->


  <!-- register product and display in table -->
  <div class="col-md-8 col-8">

    <div class="col-md-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Adicionar recursos para essa tarefa</h4>
            </div>
            <div class="modal-body">
              <form>

                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="control-label">Quantidade</label>
                      <input [disabled]="!selectedTask" type="number" class="form-control" rows="2" name="quantiry"
                        [(ngModel)]="addResourceForTask.quantity" />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="control-label">Tipo de Recurso</label>
                      <select [disabled]="!selectedTask" class="form-control" [(ngModel)]="selectedResourceType"
                        name="resource_type_id">
                        <option selected disabled [value]="null">Selecione um tipo de recurso</option>
                        <option [value]="type.id" *ngFor="let type of resourceTypes" [value]="null">
                          {{ type.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="control-label">Recurso</label>
                      <select [disabled]="!selectedResourceType" class="form-control" [(ngModel)]="selectedResource"
                        name="resource_id">
                        <option selected disabled [value]="null">Selecione um recurso</option>
                        <option [value]="resource.id" *ngFor="let resource of resources" [value]="null">
                          {{ resource.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                </div>

                <button [disabled]="!selectedResource" (click)="createResource()" target="__blank" type="button"
                  class="pull-right text-white btn btn-primary btn-flat">
                  <i class="fa fa-save"></i> Adicionar recurso</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Recursos usados nesta fase </h4>
            </div>
            <div class="modal-body">
              <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
                <thead>
                  <tr style="color: #fff; background: #17a2b8;">
                    <th>Quantidade</th>
                    <th>Rercurso</th>
                    <th>Valor unitário</th>
                    <th>Total</th>
                    <th>Acção</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let estimate of estimates">
                    <td>{{ estimate.quantity }}</td>
                    <td> {{ estimate.resource }} </td>
                    <td>{{ formatCurrency(estimate.unitPrice) }} </td>
                    <td> {{ formatCurrency(estimate.totalPrice) }} </td>
                    <td>
                      <button (click)="deleteResource(estimate.id)" type="button" class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#novoModal"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4"> Orçamento desta fase</td>
                    <td>{{ formatCurrency(totalStage) }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- end -->
</div>
