 <!-- The Modal -->
 <div class="modal modal-info fade in" id="anularModal">
  <div class="modal-dialog modal-lg " style="max-width: 994px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Anular Factura</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="alert alert-info alert-dismissible" style="border-radius: 0; font-size: 12px;margin:0">
        <h5><i class="icon fa fa-info"></i> Informação!</h5>
        O processo de anulação de uma factura consiste em especificar o motivo e a descriação da anulação, alterar o estado de uma factura para Anulado.
      </div>
      
      <form (submit)="anularFactura($event)">
        <!-- Modal body -->
        <div class="modal-body">
           <ngx-loading [show]="loading_anular"></ngx-loading>
           
          <div class="row" *ngIf="factura!=null">
           <div class="col-md-12 row" *ngIf= "ncLengthAnulado == 0">
            <div class="col-md-4">
              <div class="form-group">
                <label for="nome"> Nº Factura</label> 
                <input type="text" value="{{ factura.factura_sigla }}" class="form-control" placeholder="" disabled>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="nome"> Cliente</label> 
                <input type="text" value="{{ factura.cliente.nome }}" class="form-control" placeholder="" disabled>
              </div>
            </div>
            <div class="col-md-12"> 
              <div class="form-group">
              <div class="row">
              <label  class="col-sm-12 control-label">Motivo</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" name="status_reason" [(ngModel)]="status_reason"  placeholder="Escreve aqui uma breve descrição sobre motivo da anulação">
              </div>
              </div>
            </div>
            </div>
          </div>

            <div class="col-md-12" *ngIf= "ncLengthAnulado > 0">
                <div class="alert alert-danger alert-dismissible" style="border-radius: 0; font-size: 12px;">
                  <h5><i class="icon fa fa-book"></i> {{ factura.serie.documento.nome }}  nº {{ factura.factura_sigla }}  não pode ser anulada porque possui nota de crédito não anulada</h5> 
                </div>
                <hr>
                <div class="alert alert alert-dismissible" style="border-radius: 0; font-size: 12px;margin:0;">
                  <h5><i class="icon fa fa-book"></i>Lista de Nota de Crédito</h5> 
                </div>
                <hr>
                <table class="table table-hover table-bordered table-striped text-center">
                  <tbody>
                    <tr style="color: #fff; background: #17a2b8;">
                      <th>#</th> 
                      <th>Nº Factura</th>
                      <th>Status</th>
                      <th>Saldado ?</th> 
                      <th>Total</th>
                      <th>Valor Em Aberto</th> 
                      <th>Data Facturação</th> 
                    </tr>
                    <tr
                      *ngFor="let fact of factura.notas_credito; index as i">
                      <td>{{i+1}}</td> 

                      <td style="background: rgba(0,0,0,.1);">{{ fact.factura_sigla }}</td>

                      <td>
                      <span class="btn bg-danger btn-block btn-flat" *ngIf="fact.status =='A'">Anulado</span>
                      <span class="btn bg-info btn-block btn-flat" *ngIf="fact.status =='N'">Normal</span>
                      </td>

                      <td>
                        <span *ngIf="fact.serie.documento.sigla =='NC'"> <span class="btn bg-success btn-block btn-flat">Saldado</span></span> 
                        <span *ngIf="fact.serie.documento.sigla !='NC'">
                          <span class="btn bg-warning btn-block btn-flat" *ngIf="fact.pago ==0">Não Saldado</span>
                          <span class="btn bg-success btn-block btn-flat" *ngIf="fact.pago ==1">Saldado</span>
                        </span>
                      </td> 
                      <td style="background: #c3f0f7;"> {{ configService.numberFormat(fact.total) }} {{fact.moeda_iso}}</td>
                      <td style="background: #c3f0f7;">
                      {{  (fact.pago === 0 && fact.status === 'N' && fact.valor_aberto == null ? configService.numberFormat(fact.total): configService.numberFormat(fact.valor_aberto))  }}
                      {{fact.moeda_iso}}</td>

                      <td>{{  fact.status_date | date: 'dd-MM-yyyy' }} </td> 
                    </tr>
                  </tbody>
                </table>
            </div>

          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer" *ngIf="factura!=null">
          <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-outline-primary btn-sm" *ngIf= "ncLengthAnulado == 0">
             <i class="fa fa-adn"></i> Anular
          </button>
        </div>
      </form>


    </div>
  </div>
</div>