<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-dark-info text-sm">
  <!-- Brand Logo -->
  <a href="/dashboard" class="brand-link">
    <img src="assets/img/unig@2x.png" alt="unig" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">UNIG - CONSTRUCT</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/avatar.png" class="img-circle elevation-2" alt="User Image" />
      </div>
      <div class="info">
        <a href="#" class="d-block">{{
          (currentUser.name == undefined ? currentUser['nome'] : currentUser.name)
          | titlecase
          }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form --
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fa fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>-->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-dashboard"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="menu-open menu-is-openin">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fa fa-sitemap"></i>
            <p>
              CRM
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" routerLinkActive="menu-open">
              <a href="javascript:void(0)" class="nav-link">
                <i class="nav-icon fa icon-user"></i>
                <p>
                  Clientes
                  <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="crm/clientes/listar-clientes" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-book nav-icon"></i> Listar Clientes</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/crm/clientes/cc" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-cc nav-icon"></i> Conta Corrente</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/crm/clientes/incumprimentos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-folder-o nav-icon"></i> Incumprimentos</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" routerLinkActive="menu-open">
              <a href="javascript:void(0)" class="nav-link"><i class="nav-icon fa fa-folder-o"></i>
                <p>Concursos <i class="fa fa-angle-left right"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="javascript:void(0)" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-search nav-icon"></i> Consultas</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-book nav-icon"></i> Adjudicações</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-folder-o nav-icon"></i> Fornecedores</a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-folder-o nav-icon"></i> Subempreiteiros</a>
            </li>
          </ul>
        </li>

        <li *ngIf="canActivateRouterLink('vendas')" class="nav-item has-treeview"
          routerLinkActive="menu-open menu-is-openin">
          <a href="#" class="nav-link"><i class="nav-icon fa fa-shopping-cart"></i>
            <p>Comercial<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link"><i class="nav-icon fa fa-folder-o"></i>
                <p>Facturação<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngIf="canActivateRouterLink('registar_facturacao')" class="nav-item">
                  <a routerLink="facturacao/facturas/registar-factura" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-plus-circle nav-icon"></i>
                    <p>Registar Factura</p>
                  </a>
                </li>
                <li class="nav-item" *ngIf="canActivateRouterLink('listar_facturacao')">
                  <a routerLink="/facturacao/facturas/listar-facturas" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-file-archive-o nav-icon"></i>
                    <p>Listar Facturas</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/facturacao/facturas/facturacao-pre" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-folder-o nav-icon"></i>
                    <p>Facturação em projectos</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/facturacao/facturas/facturacao-pre" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-folder-o nav-icon"></i>
                    <p>Pré-Facturação</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/facturacao/facturas/facturacao-pre" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-folder-o nav-icon"></i>
                    <p>Fluxo de Facturação</p>
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link"><i class="nav-icon fa fa-money"></i>
                <p>Recebimentos<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/facturacao/recibos/registar-recibo" routerLinkActive="active" class="nav-link"
                    *ngIf="canActivateRouterLink('gerar_recibos')"><i class="fa fa-plus nav-icon"></i>
                    <p>Gerar Recibo</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/facturacao/recibos/consultar-recibo" routerLinkActive="active" class="nav-link"
                    *ngIf="canActivateRouterLink('listar_recibos')"><i class="fa fa-search nav-icon"></i>
                    <p>Consultar Recibo</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" *ngIf="canActivateRouterLink('listar_documentos')">
              <a routerLink="#" routerLinkActive="active" class="nav-link" data-toggle="modal"
                data-target="#documentsModal" (click)="this.configService.listarDocumentos()"><i
                  class="fa fa-folder-o nav-icon"></i> Documentos</a>
            </li>
            <li class="nav-item" *ngIf="canActivateRouterLink('listar_series')">
              <a routerLink="/series" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-sort-numeric-asc nav-icon"></i> Séries</a>
            </li>
            <li class="nav-item" *ngIf="canActivateRouterLink('listar_forma_pagamentos')">
              <a routerLink="/pagamentos" routerLinkActive="active" class="nav-link"><i class="fa fa-euro nav-icon"></i>
                Meios de Pagamentos</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fa fa fa-money"></i>
            <p>Orçamentos <i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" routerLinkActive="menu-open">
              <a href="javascript:void(0)" class="nav-link"><i class="nav-icon fa fa-folder-o"></i>
                <p>
                  Gestão de Orçamentos <i class="fa fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLinkActive="active" class="nav-link"><i class="fa fa-plus nav-icon"></i> Registar</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/crm/orcamentos/listar-orcamentos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-file-archive-o nav-icon"></i> Listar</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-folder-o nav-icon"></i> Orçamentos de
                Concursos</a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-folder-o nav-icon"></i> Orçamentos de Projecto
                / <span class="nav-text-lg">Planeamento</span></a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-folder-o nav-icon"></i> Orçamentação com
                recurso a
                <span class="nav-text-lg">Planta e processo automatizado</span></a>
            </li>
          </ul>
        </li>

        <li *ngIf="canActivateRouterLink('logistica')" class="nav-item has-treeview" routerLinkActive="menu-open">
          <a href="#" class="nav-link"><i class="nav-icon fa fa-th-large"></i>
            <p>Logística<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <!--
            <li class="nav-item"><a routerLink="#" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-briefcase nav-icon"></i> Aprovisionamento</a>
            </li>
            <li *ngIf="canActivateRouterLink('listar_compras')" class="nav-item"><a routerLink="/compras"
                routerLinkActive="active" class="nav-link"><i class="fa fa-tag nav-icon"></i> Compras</a></li>
            <!--INVENTÁRIO--
            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link"><i class="nav-icon fa fa-building"></i>
                <p>Inventários<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">

                <li class="nav-item has-treeview" routerLinkActive="menu-open">
                  <a href="#" class="nav-link"><i class="nav-icon fa fa-building"></i>
                    <p>Gestão de Stock<i class="right fa fa-angle-left"></i></p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item"><a routerLink="/stockMovimento" routerLinkActive="active" class="nav-link"><i
                          class="fa fa-book nav-icon"></i>
                        Stock Movimento</a></li>
                    <li class="nav-item"><a routerLink="/inventariacao" routerLinkActive="active" class="nav-link"><i
                          class="fa fa-book nav-icon"></i>
                        Inventarios</a></li>
                    <li class="nav-item"><a routerLink="/stock" routerLinkActive="active" class="nav-link"><i
                          class="fa fa-book nav-icon"></i>
                        Stock</a></li>
                  </ul>
                </li>
                <li *ngIf="canActivateRouterLink('listar_armazens')" class="nav-item">
                  <a routerLink="/armazem" routerLinkActive="active" class="nav-link"><i
                      class="nav-icon fa fa-suitcase"></i>
                    Armazéns</a>
                </li>
              </ul>

            </li>
            <!--END INVENTÁRIO-->

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link" routerLinkActive="active"><i class="nav-icon fa icon-users"></i>
                <p>Fornecedores<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview has-treeview-child">
                <li class="nav-item">
                  <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa icon-plus nav-icon"></i>
                    Registar</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/fornecedores" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-book nav-icon"></i> Listar</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <!--END LOGISTICA-->

        <li class="nav-item">
          <a routerLink="/bireporting/operations" routerLinkActive="active" class="nav-link"><i
              class="nav-icon fa fa-line-chart"></i>
            <p>Reporting & BI</p>
          </a>
        </li>

        <li class="nav-item has-treeview" routerLinkActive="menu-open"
          *ngIf="canActivateRouterLink('listar_projectos')">
          <a href="#" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
            <p>Projectos <i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview" routerLinkActive="menu-open"
              *ngIf="canActivateRouterLink('listar_projectos')">
              <a href="#" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>
                  Gestão de Projectos <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
                  <a routerLink="operacoes/projectos/registar-projecto" routerLinkActive="active" class="nav-link"><i
                      class="fa icon-plus nav-icon"></i>
                    <p>Criar Novo</p>
                  </a>
                </li>
                <li *ngIf="canActivateRouterLink('listar_projectos')" class="nav-item">
                  <a routerLink="operacoes/projectos/listar-projectos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-book nav-icon"></i>
                    <p>Listar</p>
                  </a>
                </li>
              </ul>
            </li>
            <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
              <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>Previsão Orçamental e Cashflow</p>
              </a>
            </li>
            <li *ngIf="canActivateRouterLink('listar_projectos')" class="nav-item">
              <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>Custos Autorizados e Realizados</p>
              </a>
            </li>
            <li *ngIf="canActivateRouterLink('listar_projectos')" class="nav-item">
              <a routerLink="operacoes/projectos/medicao/listar" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>Autos de Medição e Facturação</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview" routerLinkActive="menu-open"
          *ngIf="canActivateRouterLink('listar_projectos')">
          <a href="#" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
            <p>Planeamentos <i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview" routerLinkActive="menu-open"
              *ngIf="canActivateRouterLink('listar_projectos')">
              <a href="#" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>
                  Gestão de Planeamento <i class="right fa fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
                  <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa icon-plus nav-icon"></i>
                    <p>Criar Planeamento</p>
                  </a>
                </li>
                <li *ngIf="canActivateRouterLink('listar_projectos')" class="nav-item">
                  <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa fa-book nav-icon"></i>
                    <p>Listar</p>
                  </a>
                </li>
                <li *ngIf="canActivateRouterLink('listar_projectos')" class="nav-item">
                  <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                    <p>Tipificação</p>
                  </a>
                </li>
              </ul>
            </li>
            <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
              <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>Planeamento de Concursos</p>
              </a>
            </li>
            <li *ngIf="canActivateRouterLink('listar_projectos')" class="nav-item">
              <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>
                  Planeamento de Execução
                  <span class="nav-text-lg">de Projectos</span>
                </p>
              </a>
            </li>
            <li *ngIf="canActivateRouterLink('listar_projectos')" class="nav-item">
              <a routerLink="#" routerLinkActive="active" class="nav-link"><i class="fa fa-folder-o nav-icon"></i>
                <p>Visualização e Actualização de Planeamento</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview" routerLinkActive="active menu-open">
          <a href="#" class="nav-link"><i class="nav-icon fa fa-folder-o"></i>
            <p>Manutenção<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
              <a routerLink="manutencao/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link"><i class="fa icon-list nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a routerLink="manutencao/registrar" routerLinkActive="active" class="nav-link"><i class="fa icon-plus nav-icon"></i>
                <p>Registrar</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview" routerLinkActive="active menu-open">
          <a href="#" class="nav-link"><i class="nav-icon fa fa-folder-o"></i>
            <p>Oficinas<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
              <a routerLink="oficinas/frotas" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="nav-link"><i class="fa icon-list nav-icon"></i>
                <p>Frotas</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview" routerLinkActive="active menu-open">
          <a href="#" class="nav-link"><i class="nav-icon fa fa-cog"></i>
            <p>Operações<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link"><i class="fa icon-list nav-icon"></i>
                <p>Artigos & Serviços <i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
                  <a routerLink="operacoes/produtos/registar-produto" routerLinkActive="active" class="nav-link"><i
                      class="fa icon-plus nav-icon"></i>
                    <p>Registar</p>
                  </a>
                </li>
                <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
                  <a routerLink="operacoes/produtos/listar-produtos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-book nav-icon"></i>
                    <p>Listar</p>
                  </a>
                </li>
                <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
                  <a routerLink="operacoes/produtos/tipos/listar-tipo-artigo" routerLinkActive="active"
                    class="nav-link"><i class="fa fa-book nav-icon"></i>
                    <p>Tipos de Artigo</p>
                  </a>
                </li>
                <!--<li class="nav-item has-treeview" routerLinkActive="menu-open">
                <a href="#" class="nav-link"><i class="fa icon-list nav-icon"></i>
                  <p> Artigos & Serviços Compostos<i class="right fa fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview has-treeview-child">
                  <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item"><a routerLink="operacoes/produtos/composicao/criar"
                    routerLinkActive="active" class="nav-link"><i class="fa icon-plus nav-icon"></i>
                    <p>Criar novo</p>
                  </a>
                </li>
                <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item"><a routerLink="operacoes/produtos/composicao/listar"
                  routerLinkActive="active" class="nav-link"><i class="fa fa-book nav-icon"></i>
                  <p>Listar</p>
                </a>
              </li>
                <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item"><a routerLink="operacoes/produtos/composicao/associar"
                  routerLinkActive="active" class="nav-link"><i class="fa icon-plus nav-icon"></i>
                  <p>Associar</p>
                </a>
              </li>


                </ul>
              </li> -->
              </ul>
            </li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link"><i class="fa fa-calculator nav-icon"></i>
                <p>Caixa <i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="operacoes/caixa/abertura" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-plus-circle nav-icon"></i> Abertura de
                    Caixa</a>
                </li>
                <li class="nav-item">
                  <a routerLink="operacoes/caixa/fecho" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-key nav-icon"></i> Fecho de Caixa</a>
                </li>
                <li *ngIf="canActivateRouterLink('movimento_caixa')" class="nav-item">
                  <a routerLink="operacoes/caixa/movimentos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-tasks nav-icon"></i> Movimentos de Caixa</a>
                </li>
                <li class="nav-item">
                  <a routerLink="operacoes/caixa/registar-deposito" routerLinkActive="active" class="nav-link"
                    (click)="this.configService.listarBancos()"><i class="fa fa-money nav-icon"></i> Deposito de
                    Caixa</a>
                </li>

                <li *ngIf="canActivateRouterLink('listar_depositos')" class="nav-item">
                  <a routerLink="operacoes/caixa/depositos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-list nav-icon"></i> Listar Depósitos</a>
                </li>
              </ul>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('gerar_saft')">
              <a routerLink="/saft" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-file-code-o nav-icon"></i>
                <p>Gerar SAFT</p>
              </a>
            </li>
          </ul>
        </li>

        <li *ngIf="canActivateRouterLink('configuracoes')" class="nav-item has-treeview"
          routerLinkActive="active menu-open">
          <a href="#" class="nav-link"><i class="nav-icon fa fa-cogs"></i>
            <p>Configurações<i class="right fa fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item" *ngIf="canActivateRouterLink('configurar_empresa')">
              <a routerLink="/configs/empresa" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-university nav-icon"></i> Configurar Empresa</a>
            </li>
            <li class="nav-item"></li>

            <li class="nav-item has-treeview" routerLinkActive="menu-open">
              <a href="#" class="nav-link"><i class="fa fa-unlock-alt nav-icon"></i>
                <p>Controle Acesso <i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a routerLink="/utilizadores" routerLinkActive="active" class="nav-link"><i
                      class="fa icon-users nav-icon"></i>
                    <p>Utilizadores</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/permissions" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-lock nav-icon"></i>
                    <p>Permissions</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a routerLink="/roles" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-file-archive-o nav-icon"></i>
                    <p>Roles</p>
                  </a>
                </li>
              </ul>
            </li>

            <li *ngIf="canActivateRouterLink('listar_produtos')" class="nav-item">
              <a routerLink="/configs/recursos/listar" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-book nav-icon"></i>
                <p>Tipos Recursos Humanos</p>
              </a>
            </li>

            <li *ngIf="canActivateRouterLink('equipments')" class="nav-item has-treeview"
              routerLinkActive="active menu-open">
              <a href="#" class="nav-link"><i class="nav-icon fa fa-laptop"></i>
                <p>Equipamentos<i class="right fa fa-angle-left"></i></p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" *ngIf="canActivateRouterLink('show_equipments')">
                  <a routerLink="/configs/equipamentos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                      true}" class="nav-link"><i class="fa fa-laptop nav-icon"></i>Listar equipamentos</a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('show_equipments_model')">
                  <a routerLink="/configs/equipamentos/modelos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-laptop nav-icon"></i>Listar modelos de equipmantos</a>
                </li>

                <li class="nav-item" *ngIf="canActivateRouterLink('show_equipments_type')">
                  <a routerLink="/configs/equipamentos/tipos" routerLinkActive="active" class="nav-link"><i
                      class="fa fa-laptop nav-icon"></i>Listar tipos de equipamentos</a>
                </li>
              </ul>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('listar_impostos')">
              <a routerLink="/configs/impostos" routerLinkActive="active" class="nav-link"><i
                  class="fa fa-euro nav-icon"></i>
                <p>Impostos</p>
              </a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('listar_moedas')">
              <a routerLink="/configs/moedas" routerLinkActive="active" class="nav-link">
                <i class="fa fa-money nav-icon"></i>
                Moeda</a>
            </li>
            <li class="nav-item" *ngIf="canActivateRouterLink('listar_bancos')">
              <a routerLink="/configs/bancos" routerLinkActive="active" class="nav-link">
                <i class="fa fa-dollar nav-icon"></i>
                Bancos</a>
            </li>

            <li class="nav-item" *ngIf="canActivateRouterLink('listar_provincias')">
              <a routerLink="#" routerLinkActive="active" class="nav-link">
                <i class="fa fa-map-marker nav-icon"></i>
                Provincias</a>
            </li>
            <li class="nav-item" *ngIf="canActivateRouterLink('listar_municipios')">
              <a routerLink="#" routerLinkActive="active" class="nav-link">
                <i class="fa fa-map-marker nav-icon"></i>
                Municipios</a>
            </li>
          </ul>
        </li>

        <!--<li class="nav-header">LABELS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Important</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Warning</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Informational</p>
          </a>
        </li>-->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
