 
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{pageTitle}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right"> 
          <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let first = first; let last = last" [class.active]="last || !breadcrumb.url">
            <a *ngIf="breadcrumb.url" [routerLink]="breadcrumb.url"> 
              <!--<i *ngIf="first" ngClass="{{homeIcon}}"></i> --> 
              <ng-template [ngIf]="breadcrumb.data.breadcrumbs">{{breadcrumb.data.breadcrumbs}}</ng-template>
              <ng-template [ngIf]="!breadcrumb.data.breadcrumbs">{{breadcrumb.data.title}}</ng-template>
            </a>
            <ng-template [ngIf]="!breadcrumb.url">
              <!--<i *ngIf="first" ngClass="{{homeIcon}}"></i>-->
              <ng-template [ngIf]="breadcrumb.data.breadcrumbs"> {{breadcrumb.data.breadcrumbs}}</ng-template>
              <ng-template [ngIf]="!breadcrumb.data.breadcrumbs">{{breadcrumb.data.title}}</ng-template>
            </ng-template>
          </li> 
      </ol> 
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
 