<br>
<div class="control-section">
  <ejs-gantt id="ganttDefault" [dataSource]="data" [taskFields]="taskSettings" [columns]="columns"
    [timelineSettings]="timelineSettings" [labelSettings]="labelSettings" [treeColumnIndex]="1" height="400px"
    [allowSelection]="true" dateFormat="MMM dd, y" [projectStartDate]="projectStartDate"
    [projectEndDate]="projectEndDate" [highlightWeekends]="true" [gridLines]="gridLines" [eventMarkers]="eventMarkers"
    [editSettings]="editSettings" [toolbar]="toolbar" [resources]="resources" [splitterSettings]="splitterSettings"
    (addRecord)="test($event)">
  </ejs-gantt>
</div>
