<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">403</h1>
          <h4 class="pt-3">Oops!</h4>
          <p class="text-muted">Acesso Negado. Não tem permissão para executar esta operação.</p>
        </div>
        <div class="input-prepend input-group">
          <div class="input-group-prepend">
          </div>
          <span class="input-group">
            <button class="btn btn-info" [routerLink]="['/dashboard']"  type="button">Regressar a página anterior</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<p>
  error works!
</p>
