<div class="modal fade bd-example-modal-lg" id="myModalCarregar" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background: #00519f;">
        <h4 class="modal-title text-white"><i class="fa fa-folder-o"></i> Carregar novo Logotipo</h4>
        <hr>
        <button type="button" class="close text-white" (click)="closeModal()" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form id="formUpload">
          <div class="row">
            <div class="card col-md-4 border-dark">

              <div class="card-body" style="padding: 20px">
                <div style="border-radius: 5px;  
                  width: 100%; height: 300px; padding: 10px;" 
                  class="text-center border border-primary">
                  <img class="empresa-img" id="logo_empresa"
                   [width]="widithImage" [height]="heightImage"
                  [src]="urlCarregada" alt="Carregar logotipo...">
                </div>
                <br>
                <div *ngIf="!carregar" class="form-group custom-file">
                  <input type="file" class="form-control custom-file-input" name="logotipo"
                    (change)="selectFile($event)">
                  <label for="customFile" class="custom-file-label" id="customFileLabel"></label>
                </div>
                <br><br>
                <div class="form-group">
                  <label for="width">Largura</label>
                  <input type="number" [(ngModel)]="empresa.width" class="form-control" name="width" id="width"
                    (keyup)="setWidth()">
                </div>

                <div class="form-group">
                  <label for="height">Altura</label>
                  <input type="number" [(ngModel)]="empresa.height" class="form-control" name="height" id="height"
                    (keyup)="setHeight()">
                </div>

                <br><br>
                <div *ngIf="save" class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary" (click)="pdfPreview2()">
                      <i class="fa fa-file-pdf-o"></i> Visualizar PDF
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button type="button" (click)="upload($event)" class="btn btn-primary">
                      <i class="fa fa-cloud-upload"></i> Salvar Logotipo
                    </button>
                  </div>
                </div>

              </div>

            </div>

            <div class="col-md-8 embed-responsive embed-responsive-16by9" >
              <iframe class="embed-responsive-item" id="pdf_preview2" type="application/pdf" width="100%" height="100%" [src]="filePdf"
                frameborder="1">
              </iframe>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="myModalConfiguracao" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background: #00519f;">
        <h4 class="modal-title text-white"><i class="fa fa-cog"></i> Configuração</h4>
        <hr>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form id="formUploadConfig">
          <div class="row">
            <div class="card col-md-4 border-dark">
              <div class="card-body" style="padding: 20px">
                <div style="  
                width: 100%; height: 300px; padding: 10px;" 
                class="text-center border border-primary">
                  <img class="empresa-img" id="logo_empresa1" [width]="empresa.width" [height]="empresa.height"
                    [src]="localUrl" alt="Empresa logo">
                </div>
                <br>
                <br><br>
                <div class="form-group">
                  <label for="largura">Largura</label>
                  <input type="number" [(ngModel)]="empresa.width" class="form-control" name="width" id="largura"
                    (keyup)="setAltura()">
                </div>

                <div class="form-group">
                  <label for="altura">Altura</label>
                  <input type="number" [(ngModel)]="empresa.height" class="form-control" name="height" id="altura"
                    (keyup)="setAltura()">
                </div>

                <br><br>
                <div class="row">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary" (click)="pdfPreview()">
                      <i class="fa fa-file-pdf-o"></i> Visualizar PDF</button>
                  </div>
                  <div class="col-md-6">
                    <button type="button" (click)="upload($event)" class="btn btn-primary">
                      <i class="fa fa-cloud-upload"></i> Salvar Logotipo
                    </button>
                  </div>
                </div>

              </div>

            </div>

            <div class="col-md-8 embed-responsive embed-responsive-16by9" >
              <iframe class="embed-responsive-item" id="pdf_preview" type="application/pdf" width="100%" height="100%" [src]="filePdf"
                frameborder="1">
              </iframe>
              
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<form (submit)="editar($event)">
  <div class="row">

    <div class="col-md-3">
      <div class="card card-primary card-outline">
        <div class="card-body box-profile" style="padding: 20px">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" id="lg" height="200px" [src]="localUrl"
              alt="Empresa logo">
          </div>
          <br>
          <h3 class="profile-username text-center">{{ empresa.companyName }}</h3>

          <p class="text-muted text-center"></p>

          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Telefone</b> <a class="float-right">{{empresa.telefone}}</a>
            </li>
            <li class="list-group-item">
              <b>NIF</b> <a class="float-right">{{empresa.taxRegistrationNumber}}</a>
            </li>
            <li class="list-group-item">
              <b>Endereço</b> <a class="float-right">{{empresa.addressDetail}}</a>
            </li>
            <br>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalCarregar">
              <i class="fa fa-camera-retro"></i> Carregar Logotipo
            </button><br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalConfiguracao"
              (click)="pdfPreview()">
              <i class="fa fa-cogs"></i> Configurar Logotipo
            </button>
          </ul>


        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- /.card -->
    </div>
    <!-- /.col -->

    <div class="col-md-9">
      <!-- /.nav-tabs-custom -->
     
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Dados da Empresa</h3>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="padding: 9px;">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="nome"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nome</label>
                <input type="text" [(ngModel)]="empresa.companyName" name="empresa_nome" class="form-control"
                  placeholder="Nome da empresa">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="nome"><i class="fa fa-mobile" aria-hidden="true"></i> Telefone</label>
                <input type="text" [(ngModel)]="empresa.telefone" name="telefone" class="form-control"
                  placeholder="Nº Telefone">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group has-warning">
                <label class="control-label" for="barcode"><i class="fa fa-sort-numeric-asc"
                    aria-hidden="true"></i> NIF</label>
                <input type="text" [(ngModel)]="empresa.taxRegistrationNumber" name="taxRegistrationNumber"
                  class="form-control" placeholder="Número de Identificação Fiscal">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="nome"><i class="fa fa-home" aria-hidden="true"></i> Província</label>
                <input type="text" [(ngModel)]="empresa.province" name="province" class="form-control"
                  placeholder="Província">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="nome"><i class="fa fa-home" aria-hidden="true"></i> Cidade</label>
                <input type="text" [(ngModel)]="empresa.city" name="city" class="form-control"
                  placeholder="Cidade">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="morada"><i class="fa fa-home" aria-hidden="true"></i> Endereço</label>
                <textarea name="morada" [(ngModel)]="empresa.addressDetail" name="addressDetail"
                  class="form-control" placeholder="Endereço"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Autenticação TFA?</label>
                <select class="form-control" id="active_tfa" name="active_tfa" size="1"
                  placeholder="Autenticação TFA" [(ngModel)]="empresa.active_tfa" name="active_tfa">
                  <option value="0">NÃO</option>
                  <option value="1">SIM</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="nome"><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
                <input type="email" [(ngModel)]="empresa.email" name="email" class="form-control"
                  placeholder="Email">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary">Editar</button>
        </div>
      </div>

      <!-- Modal footer -->


    </div>
    <!-- /.col -->
  </div>
</form>