<div class="row">
  <div class="table-responsive" style="min-height: 400px;">
    <!--<ngx-loading [show]="loading"></ngx-loading>-->
    <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSXCliente">
      <tbody>
        <tr style="color: #fff; background: #17a2b8;">
          <th>Código da obra</th>
          <th>Descrição</th>
          <th>Endereço</th>
          <th>Muncipio</th>
          <th>Provincia</th>
          <th>Data Inicio</th>
          <th>Data Fim</th>
          <th>Acção</th>
        </tr>
      </tbody>
      <tbody>
        <tr
          *ngFor="let contruction of project.constructions ">
          <td>
            <a>{{( contruction.id )}}</a>
          </td>
          <td style="text-align: justify">{{ contruction.description }}</td>
          <td>{{ contruction.address.street }}</td>
          <td>{{ contruction.address.city }}</td>
          <td>{{ contruction.address.state }}</td>
          <td>{{ contruction.startDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ contruction.endDate | date: 'dd-MM-yyyy' }}</td>
          <td>
            <div class="btn-group btn-block">
              <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                data-toggle="dropdown">Opções</button>
              <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">
                <a href="javascript:void(0)" class="dropdown-item btn-sm"> <i class="fa fa-edit"></i> Editar </a>
                <a [href]="editorUrl" target="__blank" type="button" class="dropdown-item btn-sm">
                  <i class="fa fa-link"></i> Abrir Editor para este projecto</a>
                <a [routerLink]="'/operacoes/projectos/mostrar-projectos/' + project?.id + '/configurar-materiais'" target="__blank" type="button" class="dropdown-item btn-sm">
                  <i class="fa fa-link"></i> Abrir orçamento da obra </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
