<div class="modal fade" id="create-equipment-modal" tabindex="-1" role="dialog" aria-labelledby="create-equipment-modal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-equipment">Criar Equipamento</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="description">Imagem</label>
            <input type="text" class="form-control" id="description" placeholder="http://"
              [(ngModel)]="equipment.image" [ngModelOptions]="{ standalone: true }">
          </div>
          <div class="form-group">
            <label for="description">Descrição*</label>
            <input type="text" class="form-control" id="description" placeholder="Equipamento xyz"
              [(ngModel)]="equipment.description" [ngModelOptions]="{ standalone: true }">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Marca*</label>
            <select class="form-control" [(ngModel)]="equipment.brandId" [ngModelOptions]="{ standalone: true }">
              <option disabled [selected]="null">Selecionar marca</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="serie-number">Nº de Série*</label>
            <input type="text"
              class="form-control"
              id="serie-number"
              [(ngModel)]="equipment.serieNumber"
              [ngModelOptions]="{ standalone: true }"
              placeholder="xxxxxxxxx">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Tipo de equipamento*</label>
            <select class="form-control" [(ngModel)]="equipment.equipmentTypeId" [ngModelOptions]="{ standalone: true }">
              <option disabled [selected]="null">Selecionar tipo de equipamento</option>
              <option *ngFor="let equipmentType of equipmentTypes" [value]="equipmentType.id">{{ equipmentType.designation }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Modelo do equipamento*</label>
            <select class="form-control" [(ngModel)]="equipment.equipmentModelId" [ngModelOptions]="{ standalone: true }">
              <option disabled [selected]="null">Selecionar tipo de equipamento</option>
              <option *ngFor="let equipmentModel of equipmentModels" [value]="equipmentModel.id">{{ equipmentModel.designation }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" (click)="createEquipment()" class="btn btn-primary">Criar equipamento</button>
      </div>
    </div>
  </div>
</div>
