<div id="row">
  <div class="container-fluid">
    <div class="col-lg-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">
                <span [class]="'badge ' + chooseLevelBadgeColor(maintenance?.level)">
                  {{ chooseLevelBadgeLabel(maintenance?.level) }}
                </span>
                {{ maintenance?.project?.designation }}
              </h4>

              <h4 class="modal-title">
                <span [class]="'badge ' + chooseStatusBadgeColor(maintenance?.level)">
                  {{ chooseStatusBadgeLabel(maintenance?.level) }}
                </span>
              </h4>

            </div>
            <div class="modal-body">
              <p class="mb-0 pre">{{ maintenance.description }}</p>
            </div>

            <div class="modal-footer">
              <div class="col-6 text-right">
                <i class="fa fa-clock"></i>
                {{ formatDate(maintenance.startDate) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="col-lg-12 col-12">
      <div class="modall modal-info fadee" data-backdrop="static">
        <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
          <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
            <div class="modal-header d-flex flex-column">
              <h4 class="modal-title">
                Checklist
              </h4>
              <small>
                Lista de equipamentos nesta manutenção.
              </small>
            </div>
            <div class="modal-body">
              <table class="table table-hover table-bordered table-stripedd text-center m-0">
                <thead>
                  <tr style="color: #fff; background: #17a2b8;">
                    <th scope="col">#</th>
                    <th scope="col">Designação</th>
                    <th scope="col">Atribuido à</th>
                    <th scope="col">Tipo de manutenção</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Previsto para</th>
                    <th scope="col">Recorrência</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sub of maintenance.subMaintenances; index as i">
                    <th scope="row">{{ i + 1}}</th>
                    <td>{{ sub.equipment.description }}</td>
                    <td>{{ sub.assignedTo }}</td>
                    <td>
                      <span
                        [class.text-danger]="sub.maintenanceType === 0"
                      >
                        {{ chooseMaintenanceBadgeLabel(sub?.maintenanceType) }}
                      </span>
                    </td>
                    <td>
                      <span [class]="'badge ' + chooseStatusBadgeColor(sub?.status)">
                        {{ chooseStatusBadgeLabel(sub.status) }}
                      </span>
                    </td>
                    <td>{{formatDate(sub.startDate)}}</td>
                    <td>{{ sub.recursiveInterval }}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info btn-flat
                          dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret">Opções</span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start">
                          <ul class="list-unstyled">
                            <li><a href="#" class="dropdown-item btn-sm" title="Visualizar
                              detalhes da factura"><i class="fa fa-pencil"></i> Editar</a></li>
                            <li class="divider"></li>
                            <li>
                              <a href="#" class="dropdown-item text-danger btn-sm" title="Visualizar
                            detalhes da factura"><i class="fa fa-trash"></i> Eliminar</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
