<div class="modal fade" id="create-equipment-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-equipment">Criar Equipamento</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Marca*</label>
            <select class="form-control" [(ngModel)]="equipmentModel.brandId" [ngModelOptions]="{ standalone: true }">
              <option disabled [selected]="null">Selecionar marca</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Designação</label>
            <input type="text" class="form-control" id="description" placeholder="Modelo XYZ"
              [(ngModel)]="equipmentModel.designation" [ngModelOptions]="{ standalone: true }">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" (click)="createEquipment()" class="btn btn-primary">Criar equipamento</button>
      </div>
    </div>
  </div>
</div>
