<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{dash.facturaCount}}</h3>
        <p>Facturação</p>
      </div>
      <div class="icon">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <a routerLink="/facturacao"  
        class="small-box-footer">Nova Facturação <i class="fa fa-arrow-circle-right"></i></a> 
    </div>
  </div>
  <!-- ./col -->
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{dash.clienteCount}}<sup style="font-size: 20px"></sup></h3>

        <p>Clientes</p>
      </div>
      <div class="icon">
        <i class="fa icon-users"></i>
      </div>
      <a routerLink="/clientes"  
        class="small-box-footer">Listagem de Clientes <i class="fa fa-arrow-circle-right"></i></a> 
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{dash.produtoCount}}</h3>

        <p>Artigos e Serviços</p>
      </div>
      <div class="icon">
        <i class="fa fa-bookmark"></i>
      </div>
      <a routerLink="/listarProdutos"  
        class="small-box-footer">Artigos e Serviços <i class="fa fa-arrow-circle-right"></i></a>
      
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{dash.documentoCount}}</h3>

        <p>Documentos</p>
      </div>
      <div class="icon">
        <i class="fa fa-book"></i>
      </div>

      <a routerLink="#" data-toggle="modal" data-target="#documentsModal"
        (click)="this.configService.listarDocumentos()" class="small-box-footer">
        Documentos <i class="fa fa-arrow-circle-right"></i>
      </a>

    </div>
  </div>
  <!-- ./col -->
</div>

<!--
<div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box --
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>150</h3>

          <p>Facturação</p>
        </div>
        <div class="icon">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <a href="#" class="small-box-footer"> facturação <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col --
    <div class="col-lg-3 col-xs-6">
      <!-- small box --
      <div class="small-box bg-green">
        <div class="inner">
          <h3>53</h3>

          <p>Projectos</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">projectos <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col --
    <div class="col-lg-3 col-xs-6">
      <!-- small box --
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>44</h3>

          <p>Orçamentos</p>
        </div>
        <div class="icon">
          <i class="fa fa-book"></i>
        </div>
        <a href="#" class="small-box-footer">orçamentos<i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col --
    <div class="col-lg-3 col-xs-6">
      <!-- small box --
      <div class="small-box bg-red">
        <div class="inner">
          <h3>65</h3>

          <p>Recursos</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">recursos <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col --
  </div>
-->