<!-- The Modal -->
<div class="modall modal-info fadee" id="{{fechoCaixaModal}}" data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1218px;">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-key nav-icon"></i> Registar Fecho de Caixa</h4>
        <button type="button" (click)="btnClose()" class="close" data-dismiss="modal" (click)="onReset()">&times;</button>
      </div>
      <div class="modal-body" *ngIf="caixas.length ==0">
        
        <h2 style="text-align: center;background: #eee; padding: 12px 10px;">Nenhum caixa aberto</h2>
        <br>
        <button class="btn btn-success btn-sm mr-1" (click)="btnImprimirDiarioVendas()" type="button"
          *ngIf="imprimir.user_id !=null"><i class="fa fa-print"></i> Imprimir</button>
      </div>
      <form [formGroup]="simpleForm" (submit)="onSubmit();" *ngIf="caixas.length !=0">
        <!-- Modal body -->

        <div class="modal-body" *ngIf="caixas.length !=0">
          

          <div class="row col-md-12">

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label">Caixa (Nº/Data abertura)</label>
                <select class="form-control" (change)="getValorVendas()"
                  formControlName="caixa_id" placeholder="caixa" autocomplete="caixa_id" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.caixa_id.errors, 'is-valid': f.caixa_id.touched && !f.caixa_id.errors }">
                  <option [value]="null">Selecione o caixa</option>
                  <option *ngFor="let caixa of caixas" [value]="caixa.id"> {{ caixa.id }} /
                    {{ caixa.data_abertura }}</option>
                </select>
                <div *ngIf="submitted && f['caixa_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['caixa_id'].errors.required">O campo Caixa (Nº/Data abertura) é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="valor_fecho">Valor de Fecho</label>
                <input class="form-control" id="valor_fecho" type="number" formControlName="valor_fecho"
                  placeholder="Valor de Fecho" autocomplete="given-name" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.valor_fecho.errors, 'is-valid': f.valor_fecho.touched && !f.valor_fecho.errors }" />
                <div *ngIf="submitted && f['valor_fecho'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor_fecho'].errors.required">O campo valor fecho é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="col-form-label" for="valor_venda">Total</label>
                <input class="form-control" id="valor_venda" type="text" formControlName="valor_venda"
                  placeholder="Valor de vendas" value="" autocomplete="given-name" autofocus disabled
                  [ngClass]="{ 'is-invalid': submitted && f.valor_venda.errors, 'is-valid': f.valor_venda.touched && !f.valor_venda.errors }" /> 
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label class="col-form-label" for="valor_factura">Total de Facturas</label>
                <input class="form-control" id="valor_factura" type="text" formControlName="valor_factura"
                  placeholder="Valor de vendas" value="" autocomplete="given-name" autofocus disabled
                  [ngClass]="{ 'is-invalid': submitted && f.valor_factura.errors, 'is-valid': f.valor_factura.touched && !f.valor_factura.errors }" /> 
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="col-form-label" for="valor_recibo">Total de Recibos</label>
                <input class="form-control" id="valor_recibo" type="text" formControlName="valor_recibo"
                  placeholder="Valor de vendas" value="" autocomplete="given-name" autofocus disabled
                  [ngClass]="{ 'is-invalid': submitted && f.valor_venda.errors, 'is-valid': f.valor_venda.touched && !f.valor_venda.errors }" /> 
              </div>
            </div>

            <!--<div class="col-md-2">
              <div class="form-group">
                <label class="col-form-label" for="valor_venda">- Diferença</label>
                <input class="form-control" id="diferenca" type="text" formControlName="diferenca"
                  placeholder="Total - Troco" value="" autocomplete="given-name" autofocus disabled
                  [ngClass]="{ 'is-invalid': submitted && f.diferenca.errors, 'is-valid': f.diferenca.touched && !f.diferenca.errors }" /> 
              </div>
            </div>-->



            <div class="col-md-12" *ngIf="caixas.length !=0">
              <h4 style="border-bottom: 1px solid #eee; padding: 15px 0;  margin-bottom: 15px;">Resumo Recebimentos /
                Vendas</h4>
            </div>
            <hr>
            <div class="col-md-6" style="background: #e8ebee;padding: 14px 18px;">
              <h5 style="padding: 10px;  background: var(--dark); color: #fff;"><i class="fa fa-book"></i> Facturas</h5><br>
              <table class="table table-hover text-centerr table-bordered table-striped">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Meio de Pagamento</th>
                    <th>Valor Total</th>
                  </tr>
                  <tr *ngFor="let venda of vendas[0]; index as i">
                    <td>
                      {{(i+1)}}
                    </td>
                    <td>{{ venda.designacao}}</td>
                    <td>{{this.configService.numberFormat(venda.total)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-6" style="background: #e8ebee;padding: 14px 18px;">
              <h5 style="padding: 10px;  background: var(--dark); color: #fff;"><i class="fa fa-book"></i> Recibos</h5><br>
              <table class="table table-hover text-centerr table-bordered table-striped">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th>Meio de Pagamento</th>
                    <th>Valor Total</th>
                  </tr>
                  <tr *ngFor="let venda of vendas[1]; index as i">
                    <td>
                      {{(i+1)}}
                    </td>
                    <td>{{ venda.designacao}}</td>
                    <td>{{this.configService.numberFormat(venda.total)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label" for="observacao">Obervação</label>
                <textarea class="form-control" id="observacao" formControlName="observacao"
                  placeholder="Escreve aqui uma obervação sobre o fecho do seu caixa" autocomplete="given-name"
                  autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.observacao.errors, 'is-valid': f.observacao.touched && !f.observacao.errors }">

                                </textarea>
                <div *ngIf="submitted && f['observacao'].errors" class="invalid-feedback">
                  <div *ngIf="f['observacao'].errors.required">O campo valor fecho é obrigatório</div>
                </div>
              </div>
            </div>

          </div>



        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <!--
            <button class="btn btn-success btn-sm mr-1" (click)="btnImprimirDiarioVendas()" type="button" *ngIf="imprimir.user_id !=null" ><i class="fa fa-print"></i> Imprimir</button>
        -->
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleForm.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="simpleForm.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleForm.pristine || simpleForm.invalid" data-style="expand-left"><i class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>