<div class="login-container">
  <div> 
    <img class="at-logo" src="assets/img/unig.jpg" alt="User Image" style="width: 14%; border-radius: 8px;">

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="autenticate()" style="position: relative;"><br>
      <ngx-loading [show]="loading"></ngx-loading>
      <p class="text-muted"></p> 

      <div class="row">
        
        <mat-form-field appearance="outline" class="example-full-width col-md-12 col-xs-12 col-sm-12">
          <mat-label>Utilizador</mat-label>
          <input type="text" matInput formControlName="username" placeholder="utilizador">
          <mat-icon matSuffix>person</mat-icon>

          <mat-error>Introduzir Nome de Utilizador</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width col-md-12 col-xs-12 col-sm-12" style="margin-top: 10px;">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="password">
          <mat-icon matSuffix>lock</mat-icon>

          <mat-error>Introduzir a password</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <button class="btn btn-lg btn-block btn-login" style="height: 67px;">Entrar</button>
      </div>

      <div class="row help-password">

        <div class="col-sm-4">
          <label class="rememberme">
            <input type="checkbox" name="remember" value="1" /> Lembrar-me
            <span></span>
          </label>
        </div>

        <div class="col-sm-8 text-right">
          <div class="forgot-password">
            <a href="javascript:;" class="forget-password">Esqueci a palavra-passe</a>
          </div>
        </div>
      </div>

    </form>

    <div class="copyright">
      <p>2019-2020 UNIG | Todos os Direitos Reservados</p>
    </div>
  </div>

  <div class="login-bg"></div>

</div>