<!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                  <div class="slimscrollright">
                      <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                      <div class="r-panel-body">
                          <ul id="themecolors" class="m-t-20">
                              <li><b>With Light sidebar</b></li>
                              <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                              <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                              <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                              <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                              <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                              <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                              <li><b>With Dark sidebar</b></li>
                              <br/>
                              <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                              <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                              <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                              <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                              <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                              <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                          </ul> 
                      </div>
                  </div>
              </div>
              <!-- ============================================================== -->
              <!-- End Right sidebar -->
              <!-- ============================================================== -->