<!-- The Modal -->
<div class="modall modal-info fadee" id="novoModal">
  <div class="modal-dialog " style="max-width: 50%;">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="modal-title"><span class="icon-plus"></span> Adicionar Planta</div> 
      </div>

      <!-- Modal body -->

      <form>
        <div class="modal-body"> 

            <div class="row">
               <div class="col-md-8">
                <div class="form-group">
                  <label>Projecto</label>
                  <select class="form-control" [(ngModel)]="planta.cliente_id" name="cliente_id">
                    <option selected value="null">Projecto</option>
                    <option value="{{ cliente.id }}" *ngFor="let cliente of clientes">{{ cliente.nome }} -
                      {{ cliente.nome }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Titulo</label>
                  <input type="text" name="telefone" [(ngModel)]="planta.title" class="form-control" placeholder="Titulo">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Descrição</label>
                    <textarea class="form-control" rows="2"  name="description" [(ngModel)]="planta.description"  placeholder="Breve descrição sobre o projecto"></textarea>
                </div>
              </div>    
   
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Imagem da planta</label>
                  <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                    <ngx-dropzone-label>
                      <div>
                        <h2>Carregar Imagem</h2>
                      </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                      <!--<ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>-->
                    </ngx-dropzone-image-preview>
                  </div>
                 </div>
              </div>
              <div class="col-md-12"> 
                <!--<ngx-dropzone (change)="onSelect($event)">
                  <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>

                <p>A custom dropzone.</p>-->

                

              </div>

            </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
           <button type="submit" class="btn btn-primary btn-smm"><i class="fa fa-save"></i> Criar projecto</button>
        </div>
      </form>

    </div>
  </div>
</div>