<div class="modall fadee show" id="modal-xl" aria-modal="true" role="dialog" style="padding-right: 17px; display: block;">
  <div class="modal-dialog" style="max-width: 100%;margin-bottom:0">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
      <div class="modal-header">
        <h4 class="modal-title">CLIENTES</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-1 col-sm-1">
            <mat-label>Entrada</mat-label>
            <mat-select name="perPage"  [(ngModel)]="this.pagination.perPage">
              <mat-option [value]="5">5</mat-option>
              <mat-option [value]="10">10</mat-option>
              <mat-option [value]="25">25</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
          <mat-label>{{ this.client.types_client.loading }}</mat-label>
          <mat-select name="typeClient"  [(ngModel)]="this.filter.typeFilter">
            <mat-option value="type.id" *ngFor="let type of this.client.types_client.objects">{{  type.tipoClienteDesc }}</mat-option>
          </mat-select>
      </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
          <mat-label>Filtro</mat-label>
          <mat-select name="typeFilter"  [(ngModel)]="this.filter.typeFilter">
            <mat-option value="cliente">Nome cliente</mat-option>
            <mat-option value="conta">Nº de conta</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width col-md-2 col-xs-2 col-sm-2">
        <mat-label>Pesquisar cliente por {{(this.filter.typeFilter==null || this.filter.typeFilter=="null" ? "typeFilter" : this.filter.typeFilter)}}</mat-label>
        <input matInput  [(ngModel)]="this.filter.search" placeholder='Pesquisar cliente por {{(this.filter.typeFilter==null || this.filter.typeFilter=="null" ? "typeFilter" : this.filter.typeFilter.toLowerCase())}}' (keyup)="getPageFilterData($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
            <mat-label>Ordenar por</mat-label>
            <mat-select name="orderBy" [(ngModel)]="this.filter.orderBy">
              <mat-option value="created_at" >Data Facturação</mat-option>
              <mat-option value="nome">Nome do cliente</mat-option>
              <mat-option value="created_at">Data</mat-option>
              <mat-option value="contribuente">Contribuinte</mat-option>
              <mat-option value="morada">Morada</mat-option>
              <mat-option value="telefone">Telefone</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width col-md-1 col-xs-2 col-sm-2">
          <mat-label>Ordenação {{ this.filter.typeOrderBy }}</mat-label>
          <mat-select name="typeOrderBy"  [(ngModel)]="this.filter.typeOrderBy">
            <mat-option value="ASC">Crescente</mat-option>
            <mat-option value="DESC">Decrescente</mat-option>
          </mat-select>
      </mat-form-field>
          <div class="col-md-3 col-xs-3">
            <div class="form-group" style="margin-top: 3px;padding: 4px 0px;">
              <div class="input-group">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-flat mr-1 btn-smm" type="button"
                    (click)="getPageFilterData(this.pagination.page)"><i class="fa fa-search"></i> Pesquisar</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                      data-toggle="dropdown" aria-expanded="false"
                      [disabled]="(clientes.length > 0 ? false : true)"> <i class="fa fa-download"></i>
                      Exportação
                    </button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                      <a class="dropdown-item" href="javascript:void(0)" ><i
                          class="fa fa-file-pdf-o"></i>
                        PDF</a>
                      <a class="dropdown-item" href="javascript:void(0)" ><i
                          class="fa fa-file-excel-o"></i> Excel</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-info btn-flat"
                    [disabled]="(clientes.length > 0 ? false : true)"><i class="icon-printer"></i>
                    Imprimir</button>
                  <!--<button type="button" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modalClienteCreateOrEdit"
                          (click)="setDataCliente(undefined);getProvincias();iniCliente();listarTipoClientes();listarTipoIdentidades();listarDireccao() "><i
                            class="fa fa-plus"></i> Registar</button>-->
                </div>
              </div>
              <!-- /.input group -->
            </div>
          </div>

        <table class="table table-hover table-bordered table-stripedd text-center m-0">
          <ngx-loading [show]="loading"></ngx-loading>
          <tr style="color: #fff; background:#00519f">
            <th width="20">#</th>
            <th width="300">Nome</th>
            <th width="100">Identificação</th>
            <th width="150">Tipo Identidade</th>
            <th width="200">Email</th>
            <th width="100">Telefone</th>
            <!--<th width="200">Gestor</th>
            <th width="100">Direcção</th>-->

            <th width="60">Acção</th>
          </tr>
          <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: this.pagination.perPage, currentPage: this.pagination.page, id: 'listClients',totalItems: this.pagination.total }; index as i">
          <td>{{ cliente.id }}</td>
            <td>{{ cliente.name }}</td>
            <td><span class="btn btn-block btn-flat">{{ cliente.documentId }}</span></td>
            <td>NIF</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.phoneNumber }}</td>
            <!--<td>{{ cliente.gestor_id == null ? cliente.gestor_conta : cliente.gestor }}</td>
            <td>{{ cliente.direccao_id == null ? cliente.direccao : cliente.designacao }}</td>-->

            <td>

              <div class="btn-group btn-block">
                <button type="button" class="btn btn-info btn-flat btn-sm btn-block"
                  data-toggle="dropdown">Opções</button>
                <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown"
                  aria-expanded="false">
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" role="menu" x-placement="bottom-start"
                  style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(67px, 38px, 0px);">

                  <a href="javascript:void(0)" class="dropdown-cliente btn-sm"
                    (click)="setDataCliente(cliente);getProvincias();iniCliente();listarTipoClientes();listarTipoIdentidades();listarDireccao()"
                    data-toggle="tooltip" data-widget="chat-pane-toggle" title="Editar" data-toggle="modal"
                    data-target="#modalClienteCreateOrEdit"> <i class="fa fa-edit"></i> Editar
                  </a>

                  <a href="javascript:void(0)" class="dropdown-cliente btn-sm"
                    (click)="listarContasClientes(cliente)" data-widget="chat-pane-toggle" title="Contas"
                    data-toggle="modal" data-target="#contasModal">
                    <i class="fa fa-credit-card"></i> Contas
                  </a>

                  <li class="divider"></li>
                  <a href="javascript:void(0)" data-target="#contactosModal" data-toggle="modal"
                    (click)="listarContactosClientes(cliente)" class="dropdown-cliente btn-sm"
                    title="Listar Pessoa Contactos"><i class="fa icon-user"></i> Contactos</a>


                </div>
              </div>
            </td>



          </tr>
        </table>
      </div>
      <div class="modal-footer justify-content-between">
        <div class="row" style="width: 100%;">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">Mostrando de {{this.pagination.page}} a
              {{this.pagination.perPage}} de
              {{this.pagination.total}} Clientes
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="pull-right">
              <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior"
                maxSize="6" nextLabel="Proximo" directionLinks="true" responsive="true" id='listClients'>
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--
<clientCreateOrEdit [cliente]="clienteEdit" [modalClienteCreateOrEdit]=""
      [selectForms]="{tipoClientes: tipoClientes, tipoIdentidades: tipoIdentidades, provincias: provincias, direccoes: direccoes}"
      (loadListClient)="getPageFilterData($event)">
    </clientCreateOrEdit> -->
