<button (click)="handleClick()" [class]="'btn mr-1 btn-square ' + buttonClass" [type]="type"
  [disabled]="isLoading || disable">
  <div *ngIf="isLoading; else notLoading">
    <span [class]="'spinner-border ' + loadingTextColor" role="status" aria-hidden="true"></span>
    {{ loadingText }}
  </div>
  <ng-template #notLoading>
    <ng-content></ng-content>
  </ng-template>
</button>
