<div class="modal fade" id="create-contruction-modal" tabindex="-1" role="dialog"
  aria-labelledby="create-contruction-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-equipment">Criar Obra</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="description">Descrição (*)</label>
            <input type="text" class="form-control" id="description" placeholder="obra xyz"
              [(ngModel)]="construction.description" [ngModelOptions]="{ standalone: true }">
          </div>
          <div class="form-group">
            <label for="serie-number">Orçamento para obra (*)</label>
            <input type="number" class="form-control" id="serie-number" [(ngModel)]="construction.badget"
              [ngModelOptions]="{ standalone: true }" placeholder="xxxxxxxxx">
            <small> Máximo permitido {{ formatCurrency(project.badget) }}</small>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Data de inicio (*)</label>
                <input type="date" name="startDate" [(ngModel)]="construction.startDate" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Data de termino (*)</label>
                <input type="date" name="startDate" [(ngModel)]="construction.endDate" class="form-control">
              </div>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Morada do Projecto (*) </label>
                <input type="text" name="street" [(ngModel)]="construction.address.street" class="form-control"
                  placeholder="Morada do projecto">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Provincia (*)</label>
                <select class="form-control" [(ngModel)]="construction.address.state" name="state">
                  <option selected value="none" disabled>Provincias</option>
                  <option [value]="province.name" *ngFor="let province of provinces">
                    {{ province.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Muncipio (*) </label>
                <select [disabled]="!cities.length" class="form-control" [(ngModel)]="construction.address.city"
                  name="city">
                  <option selected value="none" disabled>Muncipio</option>
                  <option [value]="city.name" *ngFor="let city of cities">
                    {{ city.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <hr />

          <div class="form-group">
            <label class="control-label">Planta</label>
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
              <ngx-dropzone-label>
                <div>
                  <h4>Carregar Planta</h4>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                [removable]="true" (removed)="onRemove(f)">
              </ngx-dropzone-image-preview>
            </div>
          </div>

          <div class="form-group">
            <ng-multiselect-dropdown
              placeholder="Selecione os equipamentos para esta obra"
              [data]="equipments"
              (onSelectAll)="onSelectAll($event)"
              (onSelect)="onItemSelect($event)"
              [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" (click)="createConstruction()" class="btn btn-primary">Criar obra</button>
      </div>
    </div>
  </div>
</div>
