<div class="row">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <app-manutecao-registrar-sidebar (submit)="selectFilter($event)"></app-manutecao-registrar-sidebar>
        </div>
        <div class="col-md-9">
          <div class="backdrop d-flex align-items-center justify-content-center"
            style="backdrop-filter: blur(2px); position: absolute; z-index: 10; height: 100%; width: 100%; background-color: rgba(255, 255, 255, 0.7);"
            *ngIf="!(officeId && projectId)">
            <h4> Selecione primeiro os detalhes de localização da manutenção </h4>
          </div>
          <app-manutencao-equipamentos [projectId]="projectId" [officeId]="officeId" [maintenance]="maintenance"
            (add-equipment)="addEquipmentMaintenanceToStage($event)"
            (remove-equipment)="removeItemFromMaintenanceStage($event)"></app-manutencao-equipamentos>
        </div>
      </div>
    </div>
  </div>
</div>
