<!-- The Modal -->
<div class="modall modal-info fadee"   data-backdrop="static">
  <div class="modal-dialog modal-lg " style="max-width: 1200px;">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-money nav-icon"></i> Registar Deposito de Caixa</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onReset()">&times;</button>
      </div>

      <form [formGroup]="simpleDepositoForm" (submit)="onSubmit();">
        <!-- Modal body -->

        <div class="modal-body">
          
          

          <div class="row col-md-12">

            <div class="col-md-4">
              <div class="form-group">
                <label class="col-form-label" for="data_deposito">Data Abertura do Caixa</label>
                <input class="form-control" id="data" type="date" formControlName="data"
                  placeholder="Valor Depositado no banco" autocomplete="given-name" required autofocus
                  (change)="this.getCaixasFechados()"
                  [ngClass]="{ 'is-invalid': submitted && f.data.errors, 'is-valid': f.data.touched && !f.data.errors }" />
                <div *ngIf="submitted && f['data'].errors" class="invalid-feedback">
                  <div *ngIf="f['data'].errors.required">O campo valor fecho é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <label class="col-form-label" for="data_deposito">Resumo Recebimentos por Caixa</label>
                <button type="button" class="btn btn-primary btn-blockk" (click)="imprimirResumo()"
                  [disabled]="(this.simpleDepositoForm.getRawValue().data==null?true:false)"> <i
                    class="fa fa-print"></i> Imprimir Recebimentos por Caixa</button>
              </div>
            </div>

            <!--<div class="col-md-9">
              <div class="form-group">
                <label class="col-form-label" for="valor_venda">Valor Total de Vendas <small>(O total será calculado em função dos caixas selecionados)</small></label>
                <input class="form-control" id="valor_venda" type="text" formControlName="valor_venda" placeholder="Valor de vendas"
                  value="" autocomplete="given-name" autofocus disabled
                  [ngClass]="{ 'is-invalid': submitted && f.valor_venda.errors, 'is-valid': f.valor_venda.touched && !f.valor_venda.errors }" />
                <div *ngIf="submitted && f['valor_venda'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor_venda'].errors.required">O campo valor é obrigatório</div>
                </div>
              </div>
            </div>-->



            <div class="col-md-12" style="overflow-y: auto;height: 290px;" *ngIf="caixas_fechados!=0">
              <table class="table table-hover text-center table-bordered table-striped">
                <tbody>
                  <tr>
                    <th>#</th>
                    <th><i class="fa fa-check"></i></th>
                    <th>Operador</th>
                    <th>Caixa Nº</th>
                    <th>Data Abertura</th>
                    <th>Valor Abertura</th>
                    <th>Data Fecho</th>
                    <th>Valor Fecho</th>
                    <th>Total Vendas</th>
                  </tr>
                  <tr *ngFor="let caixa of caixas_fechados; index as i">
                    <td>
                      {{(i+1)}}
                    </td>
                    <td>
                      <input type="checkbox" name="caixa_id" (click)="selecionarCaixa(caixa.id)">
                      <span></span>
                    </td>
                    <td>
                      {{ getNameUser(caixa.nome)}}
                    </td>
                    
                    <td>{{caixa.id}}</td>
                    <td>{{caixa.data_abertura | date: 'dd-MM-yyyy'}}</td>
                    <td>{{this.configService.numberFormat(caixa.valor_abertura)}}</td>
                    <td>{{caixa.data_fecho | date: 'dd-MM-yyyy'}}</td>
                    <td>{{this.configService.numberFormat(caixa.valor_fecho)}}</td>
                    <td>{{this.configService.numberFormat(caixa.valor_vendas)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>



          </div>

          <div class="row col-md-12">
            <h5 style="background: #eee;width: 100%;padding: 15px 22px;border: 1px solid #ddd;">
              Dados Bancários
            </h5>
          </div>


          <div class="row col-md-12">


            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="valor_deposito">Valor Depósito</label>
                <input class="form-control" id="valor_deposito" type="number" formControlName="valor_deposito"
                  placeholder="Valor Depositado no banco" autocomplete="given-name" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.valor_deposito.errors, 'is-valid': f.valor_deposito.touched && !f.valor_deposito.errors }" />
                <div *ngIf="submitted && f['valor_deposito'].errors" class="invalid-feedback">
                  <div *ngIf="f['valor_deposito'].errors.required">O campo valor fecho é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="data_deposito">Data Depósito</label>


                <input class="form-control" id="data_deposito" type="date" formControlName="data_deposito"
                  placeholder="Valor Depositado no banco" autocomplete="given-name" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.data_deposito.errors, 'is-valid': f.data_deposito.touched && !f.data_deposito.errors }" />
                <div *ngIf="submitted && f['data_deposito'].errors" class="invalid-feedback">
                  <div *ngIf="f['data_deposito'].errors.required">O campo valor fecho é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label" for="referencia_banco">Referência Bancária</label>
                <input class="form-control" id="referencia_banco" type="number" formControlName="referencia_banco"
                  placeholder="Referência bancaria" autocomplete="given-name" required autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.referencia_banco.errors, 'is-valid': f.referencia_banco.touched && !f.referencia_banco.errors }" />
                <div *ngIf="submitted && f['referencia_banco'].errors" class="invalid-feedback">
                  <div *ngIf="f['referencia_banco'].errors.required">O campo valor fecho é obrigatório</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label class="col-form-label">Banco(Conta Bancária)</label>
                <select class="form-control" formControlName="banco_id" placeholder="Conta de deposito"
                  autocomplete="banco_id" required
                  [ngClass]="{ 'is-invalid': submitted && f.banco_id.errors, 'is-valid': f.banco_id.touched && !f.banco_id.errors }">
                  <option value="null" selected>Selecione o banco</option>
                  <option *ngFor="let banco of configService.bancos" [value]="banco.id"> {{banco.abreviatura}}-
                    {{ banco.numero_conta }}({{banco.iban}}) </option>
                </select>
                <div *ngIf="submitted && f['banco_id'].errors" class="invalid-feedback">
                  <div *ngIf="f['banco_id'].errors.required">banco é obrigatório</div>
                </div>
              </div>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <label class="col-form-label" for="observacao">Obervação</label>
                <textarea class="form-control" id="observacao" formControlName="observacao"
                  placeholder="Escreve aqui uma obervação sobre o deposito" autocomplete="given-name" autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.observacao.errors, 'is-valid': f.observacao.touched && !f.observacao.errors }">

                    </textarea>
                <div *ngIf="submitted && f['observacao'].errors" class="invalid-feedback">
                  <div *ngIf="f['observacao'].errors.required">O campo valor fecho é obrigatório</div>
                </div>
              </div>
            </div>


          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger btn-sm" type="reset" [disabled]="simpleDepositoForm.pristine && !submitted"
            (click)="onReset()">Limpar</button>
          <button class="btn btn-success btn-sm mr-1" type="submit"
            [disabled]="simpleDepositoForm.valid">Validar</button>
          <button class="btn btn-primary mr-1 btn-sm" type="submit"
            [disabled]="simpleDepositoForm.pristine || simpleDepositoForm.invalid" data-style="expand-left"><i
              class="fa fa-save"></i>
            Registar</button>
        </div>
      </form>
    </div>
  </div>
</div>