  @import"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback";

  @import"assets/plugins/fontawesome-free/css/all.min.css";

  @import"assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";

  @import"assets/css/adminlte.min.css";

  @import "assets/css/font-awesome/css/font-awesome.min.css";

  @import "assets/css/simple-line-icons/simple-line-icons.css";

  @import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic";
  html,
  body {
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    zoom: 87%;
    background: #ecf0f5;
  }


   .modal {
      z-index: 999999;
  }

  @media screen and (max-width: 600px) {
    html, body {
       zoom: 80%;
    }
  }


  .toast-container .toast {
    opacity: 1;
  }

  .btn-outline-info {
    border-color: #00519f !important;
    color: #00519f !important;
  }

  .content-header {
    margin-bottom: 32px;
    border-bottom: 1px solid #c2c7d0;
    padding: 16px 0.5rem;
    background: #fff;
  }

  .border-radius-0 {
    border-radius: 0;
  }
  .main-sidebar {
    z-index: 1;
    height: unset;
  }

  .btn-app-mini {
    padding: 8px 5px !important;
    margin: 0 !important;
    min-width: 61px !important;
    height: 52px !important;
  }

  .has-treeview-child{
    background: #00000024 !important;
      margin-left: 18px !important;
  }

  .toast-container > div {
    opacity: 1;
  }
  .horizontal ul.steps-indicator li a .label,
  .vertical ul.steps-indicator li a .label {
    text-transform: capitalize !important;
  }

  .vertical.small ul.steps-indicator li .step-indicator {
    width: 23px !important;
    height: 23px !important;
    top: 8px !important;
  }
  .vertical ul.steps-indicator li {
    margin-bottom: 5px !important;
    border-radius: 3px;
    width: 233px;
    padding: 12px 8px;
    background: #eee;
  }

  .horizontal.small ul.steps-indicator {
    padding: 37px 0 17px 10px !important;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .horizontal ul.steps-indicator li a {
    /*box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 1px rgba(0,0,0,.2);*/
    cursor: pointer;
    padding: 38px 32px 10px 32px;
    border-radius: 3px;
    background: #eee;
  }

  .form-control:disabled {
    background-color: #f8f9fa;
    opacity: 1;
    border: 1px solid #17a2b8;
  }

  .nota-credito-modal-lg {
    max-width: 80%;
  }

  .overlay,
  .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0.25rem;
  }
  .loading-img,
  .overlay,
  .overlay-wrapper > .loading-img,
  .overlay-wrapper > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay > .fa,
  .overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
  }

  .card {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
  }
  .card {
    /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      border: thin solid #eee*/
  }
  .card-header {
    color: #444;
    background: #ffffff;
    display: block;
    padding: 16px 18px;
    position: relative;
  }

  .card-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    position: relative;
  }

  .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
  }

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }
  .box-header > .fa,
  .box-header > .glyphicon,
  .box-header > .ion,
  .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }

  .content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
  }
  .breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
  }
  .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  .content-header h1 {
    font-size: 24px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">";
  }

  .pagination {
    margin: 0;
  }

  .card-footer {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu.show {
    z-index: 99999 !important;
  }

  .page-item:first-child .page-link {
    border-radius: 0;
  }

  .page-item:last-child {
    border-radius: 0;
  }
  .dropdown-menu {
    margin-left: -61px !important;
  }
  .card {
    border-top: 0px solid #d2d6de;
  }

  .table td,
  .table th {
    padding: 8px 10px 5px;
    font-size: 15px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .description-block > .description-text {
    text-transform: capitalize;
  }

  element.style {
    display: inline-block;
  }
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .swal2-container .btn {
    margin: 0 0.5rem;
  }

  .todo-list > li {
    margin: 2px 0;
    border: 1px solid #e6e7e8;
    color: #444;
  }

  .modal-xl {
    max-width: 1140px;
  }

  .sidebar-dark-info .nav-sidebar > .nav-item.menu-open > .nav-link,
  .sidebar-dark-info .nav-sidebar > .nav-item:hover > .nav-link {
    color: #fff;
    background-color: #00519f;
  }
  .btn {
    margin: 0 2px;
  }

  .modal-p {
    background: rgba(0, 0, 0, 0.44) !important;
    z-index: 9999;
  }

  .content-wrapper,
  .main-footer,
  .main-header {
    margin-left: 300px;
  }

  .main-sidebar,
  .main-sidebar:before {
    width: 300px;
  }
  .content-wrapper > .content {
    padding: 0 1.5rem;
  }

  .btn-app {
    border-radius: 3px;
    padding: 6px 7px;
    margin: 0 3px;
    min-width: 43px;
    height: 50px;
    font-size: 12px;
  }

  .sidebar-dark-info {
    background: #22283a 0% 0% no-repeat padding-box;
  }

  .main-sidebar,
  .main-sidebar:before {
    width: 302px;
  }

  .sidebar {
    padding-left: 0;
    padding-right: 0;
  }

  .sidebar-dark-info .nav-treeview > .nav-item > .nav-link.active,
  .sidebar-dark-info .nav-treeview > .nav-item > .nav-link.active:hover {
    color: #343a40;
    border-left: 3px solid #3c8dbc !important;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav-sidebar > .nav-item .nav-icon,
  .nav-sidebar > .nav-item i {
    font-size: 15px;
  }

  .nav-sidebar > .nav-item .nav-icon {
    font-size: 13px;
    padding: 7px 22px 7px 10px;
    background: #212529;
    margin-right: 11px;
    border-radius: 4px;
}

  .sidebar-dark-info .nav-treeview > .nav-item > .nav-link.active .nav-icon {
    color: #ffffff;
  }

  .modal-content,
  .modal-header {
    border-radius: 0;
  }

  .modal-title {
    font-size: 21px;
    font-weight: 500 !important;
  }

  .nav-link {
    padding: 12px 11px;
  }

  .nav-pills .nav-link {
    border-radius: 0;
  }

  .sidebar-dark-info .nav-sidebar > .nav-item > .nav-treeview {
    background: #2c3b4147;
  }

  .elevation-4 {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.22);
  }

  .small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 0;
  }

  .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 0px;
  }
  .info-box-text {
    text-transform: uppercase;
  }

  .progress-description,
  .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }

  .bg-aqua {
    background-color: #00c0ef !important;
  }
  .bg-green {
    background-color: #00a65a !important;
  }

  .bg-yellow {
    background-color: #f39c12 !important;
  }
  .bg-red {
    background-color: #dd4b39 !important;
  }

  .info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
  }

  .bg-red,
  .bg-yellow,
  .bg-aqua,
  .bg-blue,
  .bg-light-blue,
  .bg-green,
  .bg-navy,
  .bg-teal,
  .bg-olive,
  .bg-lime,
  .bg-orange,
  .bg-fuchsia,
  .bg-purple,
  .bg-maroon,
  .bg-black,
  .bg-red-active,
  .bg-yellow-active,
  .bg-aqua-active,
  .bg-blue-active,
  .bg-light-blue-active,
  .bg-green-active,
  .bg-navy-active,
  .bg-teal-active,
  .bg-olive-active,
  .bg-lime-active,
  .bg-orange-active,
  .bg-fuchsia-active,
  .bg-purple-active,
  .bg-maroon-active,
  .bg-black-active,
  .callout.callout-danger,
  .callout.callout-warning {
    color: #fff !important;
  }

  .progress-description {
    margin: 0;
  }

  .card-footer {
    padding: 12px 22px 0 22px;
    background-color: #f8f9fa;
  }

  .dropdown-menu > .divider {
    background-color: #eee;
  }

  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: none;
  }

  .dropdown-item {
    padding: 9px 13px;
  }

  .dropdown-item .fa {
    margin-right: 6px;
  }


  .info-box .info-box-icon {
      border-radius: 0;
      width: 93px;
      background: rgba(0,0,0,0.2);
  }

  .info-box {
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      border-radius: 2px;
      padding: 0;
  }

  .treeview-menu .treeview-menu {
      padding-left: 20px;
  }

  .nav-sidebar .nav-treeview {
      background: #35454e;
  }



  .sidebar::-webkit-scrollbar-track {
      background-color: #00519f
  }
  .sidebar::-webkit-scrollbar {
      width: 8px;
      background: #00519f
  }
  .sidebar::-webkit-scrollbar-thumb {
      background: #00519f
  }

  body::-webkit-scrollbar-track {
      background-color: #F4F4F4;
  }
  body::-webkit-scrollbar {
      width: 8px;
      background: #F4F4F4;
  }
  body::-webkit-scrollbar-thumb {
      background: #dad7d7;
  }



  .content-wrapper{
    min-height: 1144.83px;
  }


  .form-control {
      border-radius: 0;
  }


  .nav-child-indent .nav-treeview {
    background:rgb(34 40 58);
    transition: padding .3s ease-in-out;
    /* padding-left: 1rem; */
    margin-left: 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .sidebar-dark-info .nav-fourview>.nav-item>.nav-link.active, .sidebar-dark-info .nav-fourview>.nav-item>.nav-link.active:hover {
    border-left: 0px solid #3c8dbc !important;
    border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  }


  @media (min-width: 992px){
  .sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar::before {
  margin-left: 0;
  width: 4.6rem;
  }

  .sidebar-collapse .nav-sidebar p, .sidebar-collapse .sidebar .user-panel>.info {
  margin-left: -10px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  }
  }

  @media (min-width: 768px){
  .sidebar-collapse .content-wrapper, .sidebar-collapse .main-footer, .sidebar-collapse .main-header {
  margin-left: 74px;
  }
  }
  html, body { height: 100%; }
  body { margin: 0; }

  .mat-h4, .mat-subheading-1, .mat-typography h4 {
      font: 400 18px/24px Roboto, sans-serif !important;
      letter-spacing: normal;
      margin: 5px 0px 5px;
  }

  .mat-body, .mat-body-1, .mat-typography {
      font: 300 15.5px/20px Roboto, sans-serif !important;
      letter-spacing: normal;
  }

  .dropdown-item {
      font: 300 14px/20px Roboto, sans-serif !important;
  }
  html, body { height: 100%; }
  body { font: 300 15.5px/20px Roboto, sans-serif !important;
      letter-spacing: normal; }

  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  mat-form-field {
    margin-right: 12px;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 9px 0 9px 0;
  }
  .mat-form-field {
      font-weight: 300;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0;
  }
  label:not(.form-check-label):not(.custom-file-label) {
      font-weight: 500;
  }

  label:not(.form-check-label):not(.custom-file-label) {
      font-weight: 300;
  }


  @media (min-width: 768px){
    .col-md-1 {
        flex: 0 0 8.333333%;
        max-width: 10.3%;
    }
  }
  .small-box>.inner {
      padding: 20px;
  }

  .small-box .icon {
      top: 21px;
  }
  .small-box{
      margin: 0 8px !important;
  }
  .unig-logo2 {
      margin-top: 0;
      left: 93%;
      width: 204px;
      height: 267px;
      background: transparent url(/assets/img/unig@2x.png) 0% 0% no-repeat padding-box;
      background-size: 52%;
      opacity: 1;
      float: right;
      bottom: 0;

  }

  .main-header {
      height: 70px;
      background:url(/assets/img/logo0.png) #22283a 50% 40% no-repeat padding-box !important;
      opacity: 1;
  }
  footer{
    position: absolute;
    bottom: 0;
  }
  tbody th {
      padding: 14px 10px 10px !important;
  }

  .sidebar {
      height: calc(95% - 4rem) !important;
  }

  .main-footer {
      padding: 28px;
      color: #888787f0;
      border-top: 0px solid #dee2e6;
      background: #22283a 50% 31% no-repeat padding-box !important;
      background-size: 9% !important;

  }


  .btn-info{
    color: #fff;
      background-color: #00519f;
      border-color: #00519f;
  }

  .nav-sidebar>.nav-item {
      border-bottom: 1px solid rgb(255 255 255 / 0.01);
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .main-footer{
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  .brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 24px 10px;
    background: #fff;
}
[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
  color: rgb(34 40 58);
}

.text-sm .nav-link {
  padding: 0.6rem .8rem;
}
.content-wrapper-left {
  margin-left: 0px !important;
}

.nav-sidebar .nav-header:not(:first-of-type){
  color: #4b646f;
  background: #1a2226;
  padding: 15px;
}

.nav-sidebar>.nav-item .nav-icon.fa, .nav-sidebar>.nav-item .nav-icon.fab, .nav-sidebar>.nav-item .nav-icon.fad, .nav-sidebar>.nav-item .nav-icon.fal, .nav-sidebar>.nav-item .nav-icon.far, .nav-sidebar>.nav-item .nav-icon.fas, .nav-sidebar>.nav-item .nav-icon.ion, .nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
  font-size: 14px;
}


.sidebar-dark-info .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-info .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #00519f;
  color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table{
  position: relative;
}

.nav-text-lg{
  margin-left: 48px;
}
