<div class="modall modal-info fadee" id="novoModal">
  <div class="modal-dialog " style="max-width: 60%;">
    <div class="modal-content" style="box-shadow: 0 0 0rem rgba(0,0,0,.5);">

      <!-- Modal Header -->
      <div class="modal-header">
        <div class="modal-title"><span class="icon-plus"></span> Novo projecto</div>
      </div>

      <!-- Modal body -->

      <form>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Cliente</label>
                <select class="form-control" [(ngModel)]="selectedClient" name="cliente_id">
                  <option selected disabled [value]="null">CLIENTE</option>
                  <option [value]="client.id" *ngFor="let client of clients">
                    {{ client.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Projecto</label>
                <textarea class="form-control" rows="2" name="designation" [(ngModel)]="createProject.designation"
                  placeholder="Breve descrição sobre o projecto"></textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Valor Orçamental</label>
                <input type="number" name="badget" [(ngModel)]="createProject.badget" class="form-control"
                  placeholder="Proximo Número">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Data Inicio</label>
                <input type="date" name="startDate" [(ngModel)]="createProject.startDate" class="form-control">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Data Fim</label>
                <input type="date" name="startDate" [(ngModel)]="createProject.endDate" class="form-control">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Morada do Projecto</label>
                <input type="text" name="street" [(ngModel)]="createProject.address.street" class="form-control"
                  placeholder="Morada do projecto">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Provincia</label>
                <select class="form-control" [(ngModel)]="createProject.address.state" name="state">
                  <option selected value="none" disabled>Provincias</option>
                  <option [value]="province.name" *ngFor="let province of provinces">
                    {{ province.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Muncipio</label>
                <select [disabled]="!cities.length" class="form-control" [(ngModel)]="createProject.address.city"
                  name="city">
                  <option selected value="none" disabled>Muncipio</option>
                  <option [value]="city.name" *ngFor="let city of cities">
                    {{ city.name }}
                  </option>
                </select>
              </div>
            </div>
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Planta</label>
                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                  <ngx-dropzone-label>
                    <div>
                      <h2>Carregar Planta</h2>
                    </div>
                  </ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                  </ngx-dropzone-image-preview>
                </div>
              </div>
            </div> -->
          </div>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" [disabled]="isLoading" (click)="saveProject()" class="btn btn-primary btn-smm">
            <i class="fa fa-save"></i>
            Criar projecto
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
