* {
    font-family: Lato;
  }
  
  ngx-dropzone,
  .custom-dropzone { 
  }
  
  .custom-dropzone {
      height: 250px;  
      border-color:  rgb(14, 12, 117);
      border-radius: 5px;
      font-size: 20px;
  }
  
  .custom-dropzone.ngx-dz-hovered {
    border: 5px solid rgb(235, 79, 79);
  }