<div class="row">
  <div class="col-lg-12 col-12">
    <div class="modall modal-info fadee" data-backdrop="static">
      <div class="modal-dialog" style="max-width: 100%;margin-top:0">
        <div class="modal-content" style="box-shadow: 0 0 0rem
          rgba(0,0,0,.5);">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"> Filtro de Dados</h4>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-md-1 col-xs-3">
                <div class="form-group">
                  <select name="perPage" (change)="getPageFilterData($event)" [(ngModel)]="this.pagination.perPage"
                    class="form-control">
                    <option disabled [value]="null">Entrada</option>
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                  </select>
                </div>
                <!-- /.input group -->
              </div>

              <div class="col-md-4 col-xs-3">
                <div class="form-group">
                  <input type="text" name="search" [(ngModel)]="filter.search" placeholder="Pesquisar..."
                    class="form-control" (keyup)="getPageFilterData($event)">
                  <i class="fa fa-search" style="float: right;margin:-30px
                    10px 0 0px; font-size: 22px; color: #777;"></i>
                </div>
                <!-- /.input group -->
              </div>

              <div class="col-md-1 col-xs-3">
                <div class="form-group">
                  <select name="orderBy" (change)="getPageFilterData($event)" [(ngModel)]="filter.orderBy"
                    class="form-control">
                    <option disabled [ngValue]="null">Ordernar</option>
                    <option value="project">Projecto</option>
                    <option value="level">Nível</option>
                  </select>
                </div>
                <!-- /.input group -->
              </div>



              <div class="col-md-1 col-xs-3">
                <div class="form-group">
                  <div class="input-group">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info btn-flat mr-1 btn-smm" type="button"
                        (click)="getPageFilterData($event)"><i class="fa fa-search"></i> Filtrar</button>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon btn-flat"
                          data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-download"></i>
                          Exportação
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="left: 40px;">
                          <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsPDF();"><i
                              class="fa fa-file-pdf-o"></i>
                            PDF</a>
                          <a class="dropdown-item" href="javascript:void(0)" (click)="exportAsXLSX();"><i
                              class="fa fa-file-excel-o"></i> Excel</a>
                        </div>
                      </div>
                      <button type="button" class="btn btn-info btn-flat" (click)="imprimirPDF()"><i
                          class="icon-printer"></i>
                        Imprimir</button>
                      <button class="btn btn-outline-info" type="button"><i class="icon-refresh"></i>
                        Recarregar Dados</button>
                    </div>
                  </div>
                  <!-- /.input group -->
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-equipment-model" class="btn btn-info btn-flat text-white">
              <i class="fa fa-plus"></i>
              Registrar equipamento </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-12">
    <div class="modall modal-info fadee" data-backdrop="static">
      <div class="modal-dialog" style="max-width: 100%;margin:0">
        <div class="modal-content" style="box-shadow: 0 0 0rem
          rgba(0,0,0,.5);">
          <!-- Modal body -->
          <div class="modal-body">
            <!-- /.card-body -->
            <div class="table-responsivee">

              <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSX">
                <thead>
                  <tr style="color: #fff; background: #17a2b8;">
                    <th>#</th>
                    <th>Designação</th>
                    <th>Marca</th>
                    <th>Estado</th>
                    <th>Criado</th>
                    <th style="width: 160px;">Acção</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let equipment of equipmentModels; index as i">

                    <td>{{ i + 1 }}</td>
                    <td>{{ equipment.designation }}</td>
                    <td>{{ equipment.brand.name }}</td>
                    <td>{{ !equipment.isDeleted ? 'Activo' : 'Desactivado' }}</td>
                    <td>{{ equipment.createdAt | formateDate }}</td>
                    <td>
                      <div class="btn-group btn-block">
                        <button type="button" class="btn btn-info btn-flat
                          btn-sm btn-block" data-toggle="dropdown">Opções</button>
                        <button type="button" class="btn btn-info btn-flat
                          dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change:
                          transform; top: 0px; left: -58px; transform:
                          translate3d(67px, 38px, 0px);">
                          <ul class="list-unstyled">
                            <li class="dropdown-item btn-sm cursor-pointer"> Editar </li>
                            <li (click)="deleteEquipmentModel(equipment.id)" class="dropdown-item btn-sm cursor-pointer text-danger"> Elimiar </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row" style="width: 100%;">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">Mostrando de
                  {{pagination.page}} a
                  {{pagination.perPage}} de
                  {{pagination.total}} equipamentos
                </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPageFilterData($event)" previousLabel="Anterior" maxSize="6"
                    nextLabel="Proximo" directionLinks="true" responsive="true"></pagination-controls>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-create-equipment-model-modal></app-create-equipment-model-modal>

