<div class="modall modal-info fadee" data-backdrop="static">
  <div class="modal-dialog" style="max-width: 100%;margin:0">
    <div class="modal-content" style="box-shadow: 0 0 0rem
        rgba(0,0,0,.5);">
      <div class="modal-header">
        <h4 class="modal-title">
          Selecionar equipamento
        </h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-5" id="select-equipment-details">
          <div class="form-group">
            <label>Equipamento</label>
            <ng-multiselect-dropdown placeholder="Selecione o equipamento" [data]="equipments"
              [(ngModel)]="equipmentMaintenance.equipment" [ngModelOptions]="{standalone: true}"
              [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>

          <div class="form-group">
            <label>Tipo de manutenção no equipamento</label>
            <ng-multiselect-dropdown placeholder="Selecione o tipo de manutenção" [data]="maintenanceTypes"
              [(ngModel)]="equipmentMaintenance.type" [ngModelOptions]="{standalone: true}"
              [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>

          <div class="form-group">
            <label>Dia da manutenção</label>
            <input class="form-control rounded" [(ngModel)]="equipmentMaintenance.date" type="date" />
          </div>

          <div class="form-group">
            <label>Recorrência</label>
            <ng-multiselect-dropdown [disabled]="equipmentMaintenance.type[0]?.id !== 'preventive'"
              placeholder="Selecione o intervalo de recorrência" [data]="recorrencies"
              [(ngModel)]="equipmentMaintenance.recurrency" [ngModelOptions]="{standalone: true}"
              [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
          </div>

          <div class="form-group">
            <label>Atribuido a</label>
            <ng-multiselect-dropdown placeholder="Atribuir a " [data]="works" [(ngModel)]="equipmentMaintenance.assign"
              [ngModelOptions]="{standalone: true}" [settings]="multiSelectionSetting">
            </ng-multiselect-dropdown>
          </div>

          <button class="btn btn-primary" (click)="addEquipment()">
            <i class="fa fa-disket"></i>
            Adicionar equipamento
          </button>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-6" id="confirm-equipment-info">
          <label>Confirmar equipamentos</label>
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-stripedd text-center m-0 exportAsXLSX">
              <thead>
                <tr style="color: #fff; background: #17a2b8;">
                  <th>#</th>
                  <th>Equipamento</th>
                  <th>Importância</th>
                  <th>Data</th>
                  <th>Recorrência</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let maintenance of maintenance; index as i">
                  <td> {{ i + 1}} </td>
                  <td> {{ maintenance.equipment[0]?.description }} </td>
                  <td> {{ maintenance.type[0]?.description }} </td>
                  <td> {{ maintenance.date }} </td>
                  <td> {{ maintenance.recurrency[0]?.description || 'Uma vez' }} </td>
                  <td>
                    <button (click)="removeEquipment(maintenance.equipment[0]?.id)" class="btn btn-outline-danger">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-toggle="modal" data-target="#requestDescription">Criar manutenção</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="requestDescription" tabindex="-1" role="dialog" aria-labelledby="requestDescription"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar descrição a manutenção</h5>
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="description">Descrição</label>
          <textarea class="form-control" [(ngModel)]="description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary"
          (click)="createAMaintenance()"
        >Gravar</button>
      </div>
    </div>
  </div>
</div>
